<div id="app">
    <div id="">
        <div class="page-heading">
            <h3 class="text-center">Estado de Cancha 1</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Estado de Cancha 1</h4>
                                </div>
                                <div class="card-body" id="AAA">
                                    <div id="chart-profile-visit">
                                        <div class="">
                                            <div class="row">
                                                <div class="col">

                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 1</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="table-responsive-md">
                                                                    <div class="scrollable">
                                                                        <table
                                                                        class="table table-bordered table-hover border-dark mt-2 text-center">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">
                                                                                    lunes
                                                                                </th>
                                                                                <th scope="col">martes
                                                                                </th>
                                                                                <th scope="col">Miercoles</th>
                                                                                <th scope="col">Jueves</th>
                                                                                <th scope="col">Viernes</th>
                                                                                <th scope="col">Sabado</th>
                                                                                <th scope="col">Domingo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <ng-container
                                                                            *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                            <tbody class="text-center"
                                                                                *ngFor=" let a of horacancha.canchas">
                                                                                <tr
                                                                                    *ngIf="a.name === 'Cancha 1' ">

                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </ng-container>
                                                                    </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-6">
                                                    <h2>Carga masiva de Horas</h2>
                                                    <form #horasmasivasForm="ngForm" (ngSubmit)="addHorasCancha(horasmasivasForm)">
                                                        <div class="col">
                                                            <label for="inputcancha" class="form-label">Seleccione Cancha</label>
                                                            <select class="form-select" aria-label="Default select example"
                                                                name="cancha"
                                                                [(ngModel)]="horasmasivasService.selectedHorasMasivas.cancha">
    
                                                                <option
                                                                *ngFor="let cancha of canchasService.cancha | ObjToArray"
                                                                    [ngValue]="cancha._id">{{cancha.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <label for="input" class="form-label">Ingrese Fecha de
                                                                inicio</label>
                                                            <input type="text" class="form-control" 
                                                                name="horaComienzo"[(ngModel)]="horasmasivasService.selectedHorasMasivas.horacomienzo" >
                                                        </div>
                                                        <div class="col">
                                                            <label for="input" class="form-label">Ingrese Fecha de
                                                                Final</label>
                                                            <input type="text" class="form-control"
                                                                name="horaTermino" [(ngModel)]="horasmasivasService.selectedHorasMasivas.horatermino" >
                                                        </div>
                                                        <div class="col">
                                                            <label for="input" class="form-label">Ingrese precio de las horas</label>
                                                            <input type="number" class="form-control"
                                                                name="precio" [(ngModel)]="horasmasivasService.selectedHorasMasivas.precio" >
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit"
                                                                class="btn btn-danger text-uppercase mt-2 text-center">Agregar
                                                                Horarios</button>
                                                        </div>
                                                        

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>
</div>

<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>