<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,400&display=swap" rel="stylesheet"> -->

<!-- <div id="container"> -->

<!--   <div id="prev"> -->
    <!-- <span (click)="prevCancha()">&#9664;</span> -->
<!--   </div> -->
<!--   <div id="nomCancha"> -->
<!--     <p>{{ canchas[contador] }}</p> -->
<!--   </div> -->
  <!-- <div id="next"> -->
  <!--   <span (click)="nextCancha()">&#9654;</span> -->
  <!-- </div> -->
  

<!--   <div class="dias">Lun</div> -->
<!--   <div class="dias">Mar</div> -->
<!--   <div class="dias">Mie</div> -->
<!--   <div class="dias">Jue</div> -->
<!--   <div class="dias">Vie</div> -->
<!--   <div class="dias">Sab</div> -->
<!--   <div class="dias">Dom</div> -->

<!--   <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray"> -->
<!--     <ng-container *ngFor="let cancha of cargamasi.cancha | ObjToArray"> -->
<!--       <ng-container *ngIf="cargamasi.semana === numero"> -->
<!--         <ng-container *ngIf="cancha.name === canchas[contador]"> -->
<!--           <ng-container *ngIf="cancha.disponibilidad === true"> -->
<!--             <div id="horasLun"> -->
<!--               <span *ngIf="cargamasi.dia === 'lunes'">{{ cargamasi.horario }}</span> -->
<!--             </div> -->
<!--             <div id="horasMar"> -->
<!--               <span *ngIf="cargamasi.dia === 'martes'">{{ cargamasi.horario }}</span> -->
<!--             </div> -->
<!--           </ng-container> -->
<!--         </ng-container> -->
<!--       </ng-container> -->
<!--     </ng-container> -->
<!--   </ng-container> -->

<!-- </div> -->
