<div class="grid-layout">
  <div
    class="rounded-pill pt-1 pb-1 text-center fw-bold cuartos-uno"
    style="background-color: #33CC86;">
    <span>Jugador1 / Jugador2</span>
    <span><hr style="opacity: 1.25; color: white;"></span>
    <span>Jugador1 / Jugador2</span>
  </div>

  <div
    class="rounded-pill pt-1 pb-1 text-center fw-bold semifinal-uno"
    style="background-color: #33CC86;">
    <span>Jugador1 / Jugador2</span>
    <span><hr style="opacity: 1.25; color: white;"></span>
    <span>Jugador1 / Jugador2</span>
  </div>

  <div
    class="rounded-pill pt-1 pb-1 text-center fw-bold cuartos-dos"
    style="background-color: #33CC86;">
    <span>Jugador1 / Jugador2</span>
    <span><hr style="opacity: 1.25; color: white;"></span>
    <span>Jugador1 / Jugador2</span>
  </div>

  <div
    class="rounded-pill pt-1 pb-1 text-center fw-bold semifinal-dos"
    style="background-color: #33CC86;">
    <span>Jugador1 / Jugador2</span>
    <span><hr style="opacity: 1.25; color: white;"></span>
    <span>Jugador1 / Jugador2</span>
  </div>

  <div
    class="rounded-pill pt-1 pb-1 text-center fw-bold cuartos-tres"
    style="background-color: #33CC86;">
    <span>Jugador1 / Jugador2</span>
    <span><hr style="opacity: 1.25; color: white;"></span>
    <span>Jugador1 / Jugador2</span>
  </div>

  <div
    class="rounded-pill pt-1 pb-1 text-center fw-bold cuartos-cuatro"
    style="margin-top: 6rem; margin-bottom: 1rem; background-color: #33CC86;">
    <span>Jugador1 / Jugador2</span>
    <span><hr style="opacity: 1.25; color: white;"></span>
    <span>Jugador1 / Jugador2</span>
  </div>

  <div
    class="rounded-pill pt-1 pb-1 text-center fw-bold final"
    style="margin-left: 5rem; width: 16rem; background-color: #33CC86;">
    <span>Jugador1 / Jugador2</span>
    <span><hr style="opacity: 1.25; color: white;"></span>
    <span>Jugador1 / Jugador2</span>
  </div>
</div>
