<div class="grid mt-4 ml-5">
  <div class="border-solid border-blue-300 pl-2 pt-1 grid-cuartosUno" *ngFor="let a of inscritosJ">
    <span
      class="grid-cuartosUnoTeamUno"
      >
      {{ jugadores | slice: 0 : 1 }} / {{ jugadores | slice: 1 : 2 }}
    </span>
    <span
      class="grid-cuartosUnoHorizontal">
      <hr>
    </span>
    <span
      class="grid-cuartosUnoTeamDos">
      {{ jugadores | slice: 2 : 3 }} / {{ jugadores | slice: 3 : 4 }}
    </span>
    <small
      class="grid-cuartosResultadosUno text-center">
      -
    </small>
    <small
      class="grid-cuartosResultadosDos text-center">
      -
    </small>
    <small
      class="grid-cuartosResultadosTres text-center">
      -
    </small>
    <small
      class="grid-cuartosResultadosCuatro text-center">
      -
    </small>
    <small
      class="grid-cuartosResultados5 text-center">
      -
    </small>
    <small
      class="grid-cuartosResultados6 text-center">
      -
    </small>
  </div>
  <hr class="grid-cuartosUnoVertical2">
  <hr class="grid-cuartosUnoVertical">
  <hr class="grid-cuartosUnoVertical3">

  <div class="border-solid border-blue-300 pl-2 pt-1 grid-cuartosUnoRival">
    <span
      class="grid-cuartosDosTeam">
      {{ jugadores | slice: 4 : 5 }} / {{ jugadores | slice: 5 : 6 }}
    </span>
    <span
      class="grid-cuartosDosHorizontal">
      <hr>
    </span>
    <span
      class="grid-cuartosDosTeam2">
      {{ jugadores | slice: 6 : 7 }} / {{ jugadores | slice: 7 : 8 }}
    </span>
    <small
      class="grid-cuartosRivalResUno text-center">
      -
    </small>
    <small
      class="grid-cuartosRivalResDos text-center">
      -
    </small>
    <small
      class="grid-cuartosRivalResTres text-center">
      -
    </small>
    <small
      class="grid-cuartosRivalRes4 text-center">
      -
    </small>
    <small
      class="grid-cuartosRivalRes5 text-center">
      -
    </small>
    <small
      class="grid-cuartosRivalRes6 text-center">
      -
    </small>
  </div>
  <hr class="grid-cuartosUnoRivalV">
  <hr class="grid-cuartosUnoRivalV2">
  <hr class="grid-cuartosUnoRivalV3">
  <hr class="grid-cuartosUnoConec1">
  <hr class="grid-cuartosUnoConec2">
  <hr class="grid-cuartosUnoConec3">

  <div class="border-solid border-blue-300 pl-2 pt-1 cuartos2">
    <span
      class="cuartos2Team">
      Jugador 1 / Jugador 2
    </span>
    <span
      class="cuartos2H">
      <hr>
    </span>
    <span
      class="cuartos2Team2">
      Jugador1 / Jugador 2
    </span>
    <small
      class="cuartos2R text-center">
      -
    </small>
    <small
      class="cuartos2R2 text-center">
      -
    </small>
    <small
      class="cuartos2R3 text-center">
      -
    </small>
    <small
      class="cuartos2R4 text-center">
      -
    </small>
    <small
      class="cuartos2R5 text-center">
      -
    </small>
    <small
      class="cuartos2R6 text-center">
      -
    </small>
  </div>
  <hr class="cuartos2TeamV">
  <hr class="cuartos2TeamV2">
  <hr class="cuartos2TeamV3">

  <div class="border-solid border-blue-300 pl-2 pt-1 cuartos2Ri">
    <span class="cuartos2RiTeam">Jugador 1 / Jugador 2</span>
    <span class="cuartos2Ri2H"><hr></span>
    <span class="cuartos2RiTeam2">Jugador 1 / Jugador 2</span>
    <small class="cuartos2RiRes text-center">-</small>
    <small class="cuartos2RiRes2 text-center">-</small>
    <small class="cuartos2RiRes3 text-center">-</small>
    <small class="cuartos2RiRes4 text-center">-</small>
    <small class="cuartos2RiRes5 text-center">-</small>
    <small class="cuartos2RiRes6 text-center">-</small>
  </div>
  <hr class="cuartos2RiTeamV">
  <hr class="cuartos2RiTeamV2">
  <hr class="cuartos2RiTeamV3">
  <hr class="cuartos2Conec">
  <hr class="cuartos2Conec2">
  <hr class="cuartos2Conec3">

  <div class="border-solid border-blue-300 pl-2 pt-1 semi">
    <span class="semiTeam">Jugador 1 / Jugador 2</span>
    <span class="semiH"><hr></span>
    <span class="semiTeam2">Jugador 1 / Jugador 2</span>
    <small class="semiRes text-center">-</small>
    <small class="semiRes2 text-center">-</small>
    <small class="semiRes3 text-center">-</small>
    <small class="semiRes4 text-center">-</small>
    <small class="semiRes5 text-center">-</small>
    <small class="semiRes6 text-center">-</small>
  </div>

  <div class="border-solid border-blue-300 pl-2 pt-1 semi2">
    <span class="semiTeam">Jugador 1 / Jugador 2</span>
    <span class="semiH"><hr></span>
    <span class="semiTeam2">Jugador 1 / Jugador 2</span>
    <small class="semiRes text-center">-</small>
    <small class="semiRes2 text-center">-</small>
    <small class="semiRes3 text-center">-</small>
    <small class="semiRes4 text-center">-</small>
    <small class="semiRes5 text-center">-</small>
    <small class="semiRes6 text-center">-</small>
  </div>
  <hr class="semiV">
  <hr class="semiV2">
  <hr class="semiV3">
  <hr class="semi2V">
  <hr class="semi2V2">
  <hr class="semi2V3">
  <hr class="semiConec">
  <hr class="semiConec2">
  <hr class="semiConec3">

  <div class="border-solid border-blue-300 pl-2 pt-1 final">
    <span class="semiTeam">Jugador 1 / Jugador 2</span>
    <span class="semiH"><hr></span>
    <span class="semiTeam2">Jugador 1 / Jugador 2</span>
    <small class="finalRes text-center">-</small>
    <small class="finalRes2 text-center">-</small>
    <small class="finalRes3 text-center">-</small>
    <small class="finalRes4 text-center">-</small>
    <small class="finalRes5 text-center">-</small>
    <small class="finalRes6 text-center">-</small>
  </div>
  <hr class="finalV">
  <hr class="finalV2">
  <hr class="finalV3">

  <hr class="conecU">
  <hr class="conecU2">
  <hr class="conecU3">

</div>
