<div class="row">
  <div class="col-3">
    <div class="grillaStyle mt-2 p-1" style="width: 17rem;">
      <span>Jugador1 / Jugador2</span>
      <hr>
      <span>Jugador1 / Jugador2</span>
    </div>

    <div class="grillaStyle mt-4 p-1" style="width: 17rem;">
      <span>Jugador1 / Jugador2</span>
      <hr>
      <span>Jugador1 / Jugador2</span>
    </div>
  </div>

  <div class="col-3">
    <div class="grillaStyle p-1" style="width: 17rem; margin-top: 4rem; margin-left: 3rem;">
      <span>Jugador1 / Jugador2</span>
      <hr>
      <span>Jugador1 / Jugador2</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="grillaStyle p-1" style="width: 17rem; margin-left: 50rem;">
      <span>Jugador1 / Jugador2</span>
      <hr>
      <span>Jugador1 / Jugador2</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="grillaStyle mt-2 p-1" style="width: 17rem;">
      <span>Jugador1 / Jugador2</span>
      <hr>
      <span>Jugador1 / Jugador2</span>
    </div>

    <div class="grillaStyle mt-4 p-1" style="width: 17rem;">
      <span>Jugador1 / Jugador2</span>
      <hr>
      <span>Jugador1 / Jugador2</span>
    </div>
  </div>

  <div class="col-3">
    <div class="grillaStyle p-1" style="width: 17rem; margin-top: 4rem; margin-left: 3rem;">
      <span>Jugador1 / Jugador2</span>
      <hr>
      <span>Jugador1 / Jugador2</span>
    </div>
  </div>
</div>
