body{
    background-color: #f5fffa;
    font-family: 'Montserrat', sans-serif;
    }
span {
    display: inline-flex;
    vertical-align: middle;
}
.scrollable{
    height: 400px;
    overflow: auto;
    position: relative;
    
}
.scrollable::-webkit-scrollbar {
    width: 1rem;               /* width of the entire scrollbar */
  }
  
  .scrollable::-webkit-scrollbar-track {
    background: #4959b1;        /* color of the tracking area */
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid black;  /* creates padding around scroll thumb */
  }

.burbuja{
    
        background-color: white;
        margin-bottom: 20px;
        box-shadow: 10px 10px 2px 5px rgba(0, 0, 0,.1);
        border-radius: 15px;
}
.fecha::-webkit-calendar-picker-indicator {
    filter: invert(1);

    }
