<div class="container">
    <h2>Ingrese su cancha</h2>
    <div class="row">
        <div class="col">
          <div class="form-group">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione cancha</option>
                <option value="1">cancha 1</option>
                <option value="2">cancha 2</option>
                <option value="3">cancha 3</option>
              </select>
          </div>
        </div>
      </div>
</div>
<div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Horario</th>
            <th>Dia</th>
            <th>Fecha</th>
            <th>Disponibilidad</th>
            
          </tr>
        </thead>
        <tbody>

        </tbody>
