<div id="app">

    <div id="">

        <div class="page-heading">
            <h3 class="text-center">Estado de Canchas hoy</h3>
        </div>

        <div class="page-content">


            <section class="row">

                <div class="col">


                    <div class="row align-items-start">

                        <div class="col">

                            <div class="card">

                                <div class="card-header">
                                    <h4 class="text-center">Horarios Disponibles</h4>
                                </div>

                                <div class="card-body" id="AAA">

                                    <div id="chart-profile-visit">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">

                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 1</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="table-responsive-md">
                                                                    <div class="scrollable">
                                                                        <table
                                                                            class="table table-bordered border-dark table-hover text-center">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">
                                                                                        Horario
                                                                                    </th>
                                                                                    <th scope="col">Disponibilidad
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>

                                                                            <ng-container
                                                                                *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">

                                                                                <tbody class="text-center"
                                                                                    *ngFor=" let a of horacancha.canchas">
                                                                                    <ng-container
                                                                                        *ngIf="horacancha.disponibilidad==true">
                                                                                        <ng-container *ngIf="a.name === 'Cancha 1' "
                                                                                            >
                                                                                            <tr
                                                                                            class={{disponible}} >

                                                                                                <td>{{horacancha.horario}}
                                                                                                </td>
                                                                                                <td
                                                                                                    *ngIf="horacancha.disponibilidad==true">
                                                                                                    disponible</td>
                                                                                                <td
                                                                                                    *ngIf="!horacancha.disponibilidad==true">
                                                                                                    NO Disponible</td>
                                                                                            </tr>
                                                                                        </ng-container>
                                                                                    </ng-container>
                                                                                    <ng-container
                                                                                        *ngIf="!horacancha.disponibilidad==true">
                                                                                        <ng-container *ngIf="a.name === 'Cancha 1' ">
                                                                                            <tr
                                                                                                
                                                                                            class={{noDisponible}}>

                                                                                                <td>{{horacancha.horario}}
                                                                                                </td>
                                                                                                <td
                                                                                                    *ngIf="horacancha.disponibilidad==true">
                                                                                                    Disponible</td>
                                                                                                <td
                                                                                                    *ngIf="!horacancha.disponibilidad==true">
                                                                                                    NO Disponible</td>
                                                                                            </tr>
                                                                                        </ng-container>
                                                                                    </ng-container>
                                                                                </tbody>
                                                                            </ng-container>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="table-responsive-md">
                                                        <div class="scrollable">
                                                            <table
                                                                class="table table-bordered border-dark table-hover text-center">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">
                                                                            Hora comienzo
                                                                        </th>
                                                                        <th scope="col">
                                                                            fecha
                                                                        </th>
                                                                        <th scope="col">
                                                                            dia
                                                                        </th>
                                                                        <th scope="col">
                                                                            cancha
                                                                        </th>
                                                                        <th scope="col">
                                                                            precio
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                             
                                                                    <tbody class="text-center" *ngFor="let cargamasi of cargamasivaService.cargamasi|ObjToArray">
                                                                        
                                                                            <tr>

                                                                                <td>{{cargamasi.horario}} </td>
                                                                                <td>{{cargamasi.dia}} </td>
                                                                                <td>{{cargamasi.fecha}} </td>
                                                                                <td *ngFor="let a of cargamasi.cancha ">{{a.name }} </td>
                                                                                <td>{{cargamasi.precio}} </td>
                                                                               
                                                                               
                                                                            </tr>
                                                                    </tbody>
                                                                
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 2</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="">
                                                                    <div class="row justify-content-center">
                                                                        <div class="table-responsive-md">
                                                                            <div class="scrollable">
                                                                                <table
                                                                                    class="table table-bordered border-dark table-hover text-center">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">
                                                                                                Horario
                                                                                            </th>
                                                                                            <th scope="col">
                                                                                                Disponibilidad
                                                                                            </th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <ng-container
                                                                                        *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                                        <tbody class="text-center"
                                                                                            *ngFor=" let a of horacancha.canchas">
                                                                                            <ng-container
                                                                                            *ngIf="horacancha.disponibilidad==true">
                                                                                            <ng-container *ngIf="a.name === 'Cancha 2'">
                                                                                                <tr
                                                                                                class={{disponible}} >
    
                                                                                                    <td>{{horacancha.horario}}
                                                                                                    </td>
                                                                                                    <td
                                                                                                        *ngIf="horacancha.disponibilidad==true">
                                                                                                        disponible</td>
                                                                                                    <td
                                                                                                        *ngIf="!horacancha.disponibilidad==true">
                                                                                                        NO Disponible</td>
                                                                                                </tr>
                                                                                            </ng-container>
                                                                                        </ng-container>
                                                                                        <ng-container
                                                                                        *ngIf="!horacancha.disponibilidad==true">
                                                                                        <ng-container *ngIf="a.name === 'Cancha 2' "
                                                                                            >
                                                                                            <tr
                                                                                            class={{noDisponible}} >

                                                                                                <td>{{horacancha.horario}}
                                                                                                </td>
                                                                                                <td
                                                                                                    *ngIf="horacancha.disponibilidad==true">
                                                                                                    disponible</td>
                                                                                                <td
                                                                                                    *ngIf="!horacancha.disponibilidad==true">
                                                                                                    NO Disponible</td>
                                                                                            </tr>
                                                                                        </ng-container>
                                                                                    </ng-container>
                                                                                        </tbody>
                                                                                    </ng-container>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>
</div>

<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>