<div id="app">
    <!-- <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a routerLink="/dashboard"><img src="../../../assets/Logo-Botmila.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active">
                        <a routerLink="/canchasGestion" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/canchasReserva" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Realizar Reserva</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a routerLink="/canchasCRUD" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>CanchasCrud</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div> -->
    <app-header></app-header>
    <div id="">
        <div class="page-heading">
            <h3 class="text-center">Estado de Canchas</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Horarios Disponibles</h4>
                                </div>
                                <div class="card-body" id="AAA">
                                    <div id="chart-profile-visit">
                                        <!--Formulario Agregar-->
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <div class="col">
                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 1</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="">
                                                                    <div class="row justify-content-center">
                                                                        <div class="">
                                                                            <table
                                                                                class="table table-responsive table-bordered border-dark mt-2 ">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">
                                                                                            Horario
                                                                                        </th>
                                                                                        <th scope="col">Dia</th>
                                                                                    </tr>
                                                                                </thead>

                                                                                <div
                                                                                    *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                                    <tbody class="text-center"
                                                                                        *ngFor=" let a of horacancha.canchas">
                                                                                        <tr
                                                                                            *ngIf="a.name === 'Cancha 1' ">

                                                                                            <td>{{horacancha.horario}}
                                                                                            </td>
                                                                                            <td>{{horacancha.dia}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </div>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="col">
                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 2</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="">
                                                                    <div class="row justify-content-center">
                                                                        <div>
                                                                            <table
                                                                                class="table table-responsive table-bordered border-dark mt-2">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Horario</th>
                                                                                        <th scope="col">Dia</th>



                                                                                    </tr>
                                                                                </thead>
                                                                                <div
                                                                                    *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                                    <tbody class="text-center"
                                                                                        *ngFor=" let a of horacancha.canchas">
                                                                                        <tr
                                                                                            *ngIf="a.name === 'Cancha 2' ">

                                                                                            <td>{{horacancha.horario}}
                                                                                            </td>
                                                                                            <td>{{horacancha.dia}}</td>



                                                                                        </tr>
                                                                                    </tbody>
                                                                                </div>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center">Canchas Reservadas</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-visitors-profile">
                                <div class="row align-items-start">
                                    <div class="col">
                                        <div class="col">
                                            <div class="card mt-2">
                                                <div class="card-header">
                                                    <h4 class="text-center">Cancha 1</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart-profile-visit">

                                                        <div class="">
                                                            <div class="row justify-content-center">
                                                                <div class="">
                                                                    <table
                                                                        class="table table-responsive table-bordered border-dark mt-2 ">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Dia</th>
                                                                                <th scope="col">Horario</th>
                                                                                <th scope="col">Nombre</th>
                                                                                <th scope="col">Rut</th>
                                                                                <th scope="col">Telefono</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <div *ngFor="let horatomada of horastomadasService.horatomada |ObjToArray">
                                                                            <tbody class="text-center" *ngFor="let e of horatomada.cancha">
                                                                                <tr *ngIf="e.name === 'Cancha 1' ">

                                                                                    <td
                                                                                        *ngFor="let a of horatomada.horascanchas">
                                                                                        {{a.dia}}</td>
                                                                                    <td
                                                                                        *ngFor="let a of horatomada.horascanchas">
                                                                                        {{a.horario}}</td>
                                                                                    <td
                                                                                        *ngFor="let a of horatomada.cancha">
                                                                                        {{a.name}}</td>
                                                                                    <td>{{horatomada.rut}}</td>


                                                                                </tr>
                                                                            </tbody>
                                                                        </div>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="col">
                                            <div class="card mt-2">
                                                <div class="card-header">
                                                    <h4 class="text-center">Cancha 2</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart-profile-visit">

                                                        <div class="">
                                                            <div class="row justify-content-center">
                                                                <div>
                                                                    <table
                                                                        class="table table-responsive table-bordered border-dark mt-2">
                                                                        <thead>
                                                                            <tr>
                                                                            <tr>
                                                                                <th scope="col">Dia</th>
                                                                                <th scope="col">Horario</th>
                                                                                <th scope="col">Nombre</th>
                                                                                <th scope="col">Rut</th>
                                                                                <th scope="col">Telefono</th>

                                                                            </tr>
                                                                        </thead>

                                                                        <div *ngFor="let horatomada of horastomadasService.horatomada |ObjToArray">
                                                                            <tbody class="text-center"
                                                                            *ngFor="let e of horatomada.cancha">
                                                                                <tr *ngIf="e.name === 'Cancha 2' ">

                                                                                    <td
                                                                                        *ngFor="let a of horatomada.horascanchas">
                                                                                        {{a.dia}}</td>
                                                                                    <td
                                                                                        *ngFor="let a of horatomada.horascanchas">
                                                                                        {{a.horario}}</td>
                                                                                    <td
                                                                                        *ngFor="let a of horatomada.cancha">
                                                                                        {{a.name}}</td>
                                                                                    <td>{{horatomada.rut}}</td>


                                                                                </tr>
                                                                            </tbody>
                                                                        </div>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>
</div>

<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>