<div id="app">

    <div id="">
        <div class="page-heading">
            <h3 class="text-center">Estado de Canchas hoy</h3>
        </div>
        <div class="page-content">
            <section>
                <div class="col">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="card-body" id="AAA">

                                <div id="chart-profile-visit">
                                    <div class="container">

                                        <div class="row">
                                            <div class="col">

                                                <div class="card mt-2">
                                                    <div class="card-header">
                                                        <h4 class="text-center">Cancha 1</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="chart-profile-visit">

                                                            <div class="table-responsive-md">
                                                                <div class="scrollable">
                                                                    <table
                                                                        class="table table-bordered border-dark table-hover text-center">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">
                                                                                    Horario
                                                                                </th>
                                                                                <th scope="col">Dia
                                                                                </th>
                                                                                <th>Fecha</th>
                                                                                <th scope="col">Disponibilidad
                                                                                </th>


                                                                            </tr>
                                                                        </thead>

                                                                        <ng-container
                                                                            *ngFor="let cargamasi of cargamasivaService.cargamasi|ObjToArray">

                                                                            <tbody class="text-center"
                                                                                *ngFor=" let a of cargamasi.cancha">
                                                                                <ng-container
                                                                                    *ngFor="let x of a.organization">

                                                                                    <ng-container
                                                                                        *ngIf="cargamasi.disponibilidad==true">
                                                                                        <ng-container
                                                                                            *ngIf="a.name === 'Cancha 1' ">
                                                                                            <tr class={{disponible}}>

                                                                                                <td>{{cargamasi.horario}}
                                                                                                </td>
                                                                                                <td>{{cargamasi.dia}}
                                                                                                </td>
                                                                                                <td>{{cargamasi.fecha}}
                                                                                                </td>

                                                                                                <td
                                                                                                    *ngIf="cargamasi.disponibilidad==true">
                                                                                                    disponible
                                                                                                </td>
                                                                                                <td
                                                                                                    *ngIf="!cargamasi.disponibilidad==true">
                                                                                                    NO
                                                                                                    Disponible
                                                                                                </td>
                                                                                            </tr>
                                                                                        </ng-container>
                                                                                    </ng-container>

                                                                                </ng-container>
                                                                                <ng-container
                                                                                    *ngFor="let x of a.organization">

                                                                                    <ng-container
                                                                                        *ngIf="!cargamasi.disponibilidad==true">
                                                                                        <ng-container
                                                                                            *ngIf="a.name === 'Cancha 1' ">
                                                                                            <tr class={{noDisponible}}>

                                                                                                <td>{{cargamasi.horario}}
                                                                                                </td>
                                                                                                <td>{{cargamasi.dia}}
                                                                                                </td>
                                                                                                <td>{{cargamasi.fecha}}
                                                                                                </td>
                                                                                                <td
                                                                                                    *ngIf="cargamasi.disponibilidad==true">
                                                                                                    Disponible
                                                                                                </td>
                                                                                                <td
                                                                                                    *ngIf="!cargamasi.disponibilidad==true">
                                                                                                    NO
                                                                                                    Disponible
                                                                                                </td>
                                                                                            </tr>
                                                                                        </ng-container>
                                                                                    </ng-container>

                                                                                </ng-container>
                                                                            </tbody>
                                                                        </ng-container>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="card mt-2">
                                                    <div class="card-header">
                                                        <h4 class="text-center">Cancha 2</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="chart-profile-visit">

                                                            <div class="">
                                                                <div class="row justify-content-center">
                                                                    <div class="table-responsive-md">
                                                                        <div class="scrollable">
                                                                            <table
                                                                                class="table table-bordered border-dark table-hover text-center">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">
                                                                                            Horario
                                                                                        </th>
                                                                                        <th scope="col">
                                                                                            Dia
                                                                                        </th>
                                                                                        <th>Fecha</th>
                                                                                        <th scope="col">
                                                                                            Disponibilidad
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>

                                                                                <ng-container
                                                                                    *ngFor="let cargamasi of cargamasivaService.cargamasi|ObjToArray">

                                                                                    <tbody class="text-center"
                                                                                        *ngFor=" let a of cargamasi.cancha">
                                                                                        <ng-container
                                                                                            *ngIf="cargamasi.disponibilidad==true">
                                                                                            <ng-container
                                                                                                *ngIf="a.name === 'Cancha 2' ">
                                                                                                <tr
                                                                                                    class={{disponible}}>

                                                                                                    <td>{{cargamasi.horario}}
                                                                                                    </td>
                                                                                                    <td>{{cargamasi.dia}}
                                                                                                    </td>
                                                                                                    <td>{{cargamasi.fecha}}
                                                                                                    </td>
                                                                                                    <td
                                                                                                        *ngIf="cargamasi.disponibilidad==true">
                                                                                                        disponible
                                                                                                    </td>
                                                                                                    <td
                                                                                                        *ngIf="!cargamasi.disponibilidad==true">
                                                                                                        NO
                                                                                                        Disponible
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </ng-container>
                                                                                        </ng-container>

                                                                                        <ng-container
                                                                                            *ngIf="!cargamasi.disponibilidad==true">
                                                                                            <ng-container
                                                                                                *ngIf="a.name === 'Cancha 2' ">
                                                                                                <tr
                                                                                                    class={{noDisponible}}>

                                                                                                    <td>{{cargamasi.horario}}
                                                                                                    </td>
                                                                                                    <td>{{cargamasi.dia}}
                                                                                                    </td>
                                                                                                    <td>{{cargamasi.fecha}}
                                                                                                    </td>
                                                                                                    <td
                                                                                                        *ngIf="cargamasi.disponibilidad==true">
                                                                                                        Disponible
                                                                                                    </td>
                                                                                                    <td
                                                                                                        *ngIf="!cargamasi.disponibilidad==true">
                                                                                                        NO
                                                                                                        Disponible
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </ng-container>
                                                                                        </ng-container>




                                                                                    </tbody>
                                                                                </ng-container>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>
        </div>


    </div>
</div>