<ng-container *ngIf="!apiService.loggedIn(); else loggedIn">


    <div id="" class="toggled">

        <!-- Sidebar -->
        <!-- <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">

                </li>
                <li>
                    <a routerLink="/parameters/area">Dashboard</a>
                </li>
                <li>
                    <a routerLink="/parameters/faculty">Gestion de Canchas</a>
                </li>
                <li>
                    <a routerLink="/courses/course-list/">Realizar reserva</a>
                </li>
                <li>
                    <a routerLink="/courses/section-list/">Vista Semana</a>
                </li>
                <li>
                    <a routerLink="/courses/section-list/">Cancha 1</a>
                </li>
                <li>
                    <a routerLink="/courses/section-list/">Cancha 2</a>
                </li>
            </ul>
        </div> -->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <router-outlet>

                </router-outlet>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</ng-container>

<ng-template #loggedIn>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <span>nombre de empresa</span>
                </li>
                <li class="sidebar-item active">
                    <a routerLink="/canchasGestion" class='sidebar-link'>
                        <i><span class="material-icons">
                                space_dashboard
                            </span></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item ">
                    <a routerLink="/canchasCRUD" class='sidebar-link'>
                        <i><span class="material-icons">
                                sports_tennis
                            </span> </i>
                        <span>CanchasCrud</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a routerLink="/canchasReserva" class='sidebar-link'>
                        <i>
                            <span class="material-icons">
                                edit_calendar
                            </span></i>
                        <span>Realizar Reserva</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a routerLink="/vistaSemana" class='sidebar-link'>
                        <i class="bi bi-calendar-week"></i>
                        <span>Vista Semana</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a routerLink="/cancha1" class='sidebar-link'>
                        <i> <span class="material-icons">
                                stadium
                            </span></i>
                        <span>Cancha 1</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a routerLink="/cancha2" class='sidebar-link'>
                        <i><span class="material-icons">
                                stadium
                            </span></i>
                        <span>Cancha 2</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <input type="button" id="menu-toggle" onclick="toggleSideBar()" value="sidebar">
                <label for="menu-toggle">
                    <i class="fa fa-navicon" id="btnsid"></i>
                </label>

                <router-outlet>

                </router-outlet>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</ng-template>