<div id="app">
    <!-- <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a routerLink="/dashboard"><img src="../../../assets/Logo-Botmila.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item">
                        <a routerLink="/dashboardAdmin" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a routerLink="/usersAdmin" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>CRUD USUARIOS</span>
                        </a>
                    </li>
                    <li class="sidebar-item active">
                        <a routerLink="/orgaAdmin" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>ORGANIZACIONES</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div> -->
    <div id="">
        <div class="page-heading">
            <h3>ADMINISTRADOR</h3>
        </div>

        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-12">

                    <div class="row  justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Agregar Una Nueva Organizacion</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-profile-visit">
                                        <!--Formulario Agregar-->
                                        <div class="container">
                                            <div class="row">
                                                

                                                <div class="col-lg-6 col-sm-6">
                                                    <h1 class="text-center">Registar Nueva Organizacion</h1>
                                                    <form #organizationForm="ngForm"
                                                        (ngSubmit)="addOrganization(organizationForm) "
                                                        class="row g-3 mb-3">
                                                        <input type="hidden" name="_id"
                                                            [(ngModel)]="organizationService.selectedOrganization._id">
                                                        <div class="col">
                                                            <label for="inputName" class="form-label">Nombre</label>
                                                            <input type="text" class="form-control" name="name"
                                                                [(ngModel)]="organizationService.selectedOrganization.name">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="inputRut" class="form-label">Rut</label>
                                                            <input type="text" class="form-control" name="rut">
                                                        </div>
                                                        <div class="">
                                                            <label for="inputMail" class="form-label">E-mail</label>
                                                            <input type="email" class="form-control" name="email">
                                                        </div>
                                                        <div class="">
                                                            <label for="inputTelefono"
                                                                class="form-label">Telefono</label>
                                                            <input type="text" class="form-control" name="telefono">
                                                        </div>
                                                        <div class="">
                                                            <label for="inputDireccion"
                                                                class="form-label">Direccion</label>
                                                            <input type="text" class="form-control" name="direccion">
                                                        </div>
                                                        <div class="text-center">

                                                            <button type="submit" class="btn btn-danger text-uppercase"
                                                                value="Guardar">Agregar Organizacion</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col">
                                                    <h1 class="text-center">Organizaciones Registradas</h1>
                                                    <div class="table-responsive-md">
                                                        <div class="scrollable">
                                                            <table
                                                                class="table table-bordered table-hover border-dark mt-2 text-center">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Nombre</th>
                                                                                                                                    
                                                                <!-- <th scope="col">Rut</th>
                                                                <th scope="col">E-mail</th>
                                                                <th scope="col">Telefono</th>
                                                                <th scope="col">Direccion</th> -->

                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let organizaciones of organizationService.organizaciones">

                                                                        <td>{{ organizaciones.name}}</td>
                                                                         <!-- <td>{{ organizaciones.rut }}</td>
                                                                <td>{{ users.email}}</td>
                                                                <td>{{ users.telefono }}</td>
                                                                <td>{{ users.direccion }}</td>  -->


                                                                        <!-- <div class="btn-group mr-0" role="group"
                                                                    aria-label="Basic mixed styles example">
                                                                    <button type="button" class="btn btn-primary  mr-2"
                                                                        (click)="editUsuario(users)"> Editar</button>
                                                                    <button type="button" class="btn btn-danger"
                                                                        (click)="deleteUsuario(users._id)">Eliminar</button>
                                                                </div> -->

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>

        <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>

        <script src="assets/vendors/apexcharts/apexcharts.js"></script>
        <script src="assets/js/pages/dashboard.js"></script>

        <script src="assets/js/mazer.js"></script>