<div id="">
    <div id="">
        <div class="page-heading">
            <h3 class="text-center">GESTION DE RESERVAS</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col">

                    <div class="row  justify-content-center">
                        <div class="col">
                            <div class="card">
                                    <div class="card-header">
                                        <h4 class="text-center">Horarios Disponibles de Canchas</h4>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-4">
                                                <div class="col">
                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 1</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="">
                                                                    <div class="row justify-content-center">
                                                                        <div class="">
                                                                            <div class="col">
                                                                                <label for="inputOcupacion"
                                                                                    class="form-label">Seleccione Dia de
                                                                                    La reserva</label>
                                                                                <select class="form-select"
                                                                                    aria-label="Default select example"
                                                                                    name="dia"
                                                                                    [(ngModel)]="horariocanchaService.selectedHorarioCancha.dia">

                                                                                    <option>Lunes</option>
                                                                                    <option>Martes</option>
                                                                                    <option>Miercoles</option>
                                                                                    <option>Jueves</option>
                                                                                    <option>Viernes</option>
                                                                                    <option>Sabado</option>
                                                                                    <option>Domingo</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="table-responsive-md">
                                                                                <div class="scrollable">
                                                                                    <table
                                                                                    class="table table-bordered border-dark table-hover mt-2 text-center">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">
                                                                                                Horario
                                                                                            </th>
                                                                                            <th scope="col">Disponibilidad
                                                                                            </th>
                                                                                        </tr>
                                                                                    </thead>
        
                                                                                    <ng-container
                                                                                        *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
        
                                                                                        <tbody class="text-center"
                                                                                            *ngFor=" let a of horacancha.canchas">
                                                                                            <ng-container
                                                                                                *ngIf="horacancha.disponibilidad==true">
                                                                                                <ng-container *ngIf="a.name === 'Cancha 1' "
                                                                                                    >
                                                                                                    <tr
                                                                                                    class={{disponible}} >
        
                                                                                                        <td>{{horacancha.horario}}
                                                                                                        </td>
                                                                                                        <td
                                                                                                            *ngIf="horacancha.disponibilidad==true">
                                                                                                            disponible</td>
                                                                                                        <td
                                                                                                            *ngIf="!horacancha.disponibilidad==true">
                                                                                                            NO Disponible</td>
                                                                                                    </tr>
                                                                                                </ng-container>
                                                                                            </ng-container>
                                                                                            <ng-container
                                                                                                *ngIf="!horacancha.disponibilidad==true">
                                                                                                <ng-container *ngIf="a.name === 'Cancha 1' ">
                                                                                                    <tr
                                                                                                        
                                                                                                    class={{noDisponible}}>
        
                                                                                                        <td>{{horacancha.horario}}
                                                                                                        </td>
                                                                                                        <td
                                                                                                            *ngIf="horacancha.disponibilidad==true">
                                                                                                            Disponible</td>
                                                                                                        <td
                                                                                                            *ngIf="!horacancha.disponibilidad==true">
                                                                                                            NO Disponible</td>
                                                                                                    </tr>
                                                                                                </ng-container>
                                                                                            </ng-container>
                                                                                        </tbody>
                                                                                    </ng-container>
                                                                                </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-sm-3">
                                                <div class="col">
                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 2</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="">
                                                                    <div class="row justify-content-center">
                                                                        <div class="">
                                                                            <div class="col">
                                                                                <label for="inputOcupacion"
                                                                                    class="form-label">Seleccione Dia de
                                                                                    La reserva</label>
                                                                                <select class="form-select"
                                                                                    aria-label="Default select example"
                                                                                    name="dia"
                                                                                    [(ngModel)]="horariocanchaService.selectedHorarioCancha.dia">

                                                                                    <option>Lunes</option>
                                                                                    <option>Martes</option>
                                                                                    <option>Miercoles</option>
                                                                                    <option>Jueves</option>
                                                                                    <option>Viernes</option>
                                                                                    <option>Sabado</option>
                                                                                    <option>Domingo</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="table-responsive-md">
                                                                            <div class="scrollable">
                                                                            <table
                                                                                class="table table-bordered table-hover border-dark mt-2 text-center">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">
                                                                                            Horario
                                                                                        </th>
                                                                                        <th scope="col">Dia</th>
                                                                                    </tr>
                                                                                </thead>

                                                                                <ng-container
                                                                                        *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                                        <tbody class="text-center"
                                                                                            *ngFor=" let a of horacancha.canchas">
                                                                                            <ng-container
                                                                                            *ngIf="horacancha.disponibilidad==true">
                                                                                            <ng-container *ngIf="a.name === 'Cancha 2'">
                                                                                                <tr
                                                                                                class={{disponible}} >
    
                                                                                                    <td>{{horacancha.horario}}
                                                                                                    </td>
                                                                                                    <td
                                                                                                        *ngIf="horacancha.disponibilidad==true">
                                                                                                        disponible</td>
                                                                                                    <td
                                                                                                        *ngIf="!horacancha.disponibilidad==true">
                                                                                                        NO Disponible</td>
                                                                                                </tr>
                                                                                            </ng-container>
                                                                                        </ng-container>
                                                                                        <ng-container
                                                                                        *ngIf="!horacancha.disponibilidad==true">
                                                                                        <ng-container *ngIf="a.name === 'Cancha 2' "
                                                                                            >
                                                                                            <tr
                                                                                            class={{noDisponible}} >

                                                                                                <td>{{horacancha.horario}}
                                                                                                </td>
                                                                                                <td
                                                                                                    *ngIf="horacancha.disponibilidad==true">
                                                                                                    disponible</td>
                                                                                                <td
                                                                                                    *ngIf="!horacancha.disponibilidad==true">
                                                                                                    NO Disponible</td>
                                                                                            </tr>
                                                                                        </ng-container>
                                                                                    </ng-container>
                                                                                        </tbody>
                                                                                    </ng-container>
                                                                            </table>
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-sm-6">
                                                <div class="card mt-2">
                                                    <div class="card-header">
                                                        <h4 class="text-center">Reservar cancha</h4>
                                                    </div>
                                                    <div class="card-body">

                                                            <!--Formulario Agregar-->
                                                            <div >
                                                                <div class="">
                                                                    <!-- <form #horasmasivasForm="ngForm" (ngSubmit)="addHoraCancha(horasmasivasForm)" 
                                                                    class="row g-3 mb-3">
                                                                        <div class="col-md-6">
                                                                            <label for="input" class="form-label">Rut
                                                                                Del
                                                                                Cliente</label>
                                                                            <input type="text" class="form-control"
                                                                                name="rut"
                                                                                [(ngModel)]="horamasivaService.rut">
                                                                        </div>
                                                                        
                                                                        <div class="col-lg-4 col-md-6">
                                                                            <label for="inputOcupacion"
                                                                                class="form-label">Seleccione Cancha
                                                                                para reservar</label>
                                                                            <select class="form-select"
                                                                                aria-label="Default select example"
                                                                                name="cancha"
                                                                                [(ngModel)]="cargamasivaService.selectedCargaMasiva.cancha">
                                                                                <option
                                                                     *ngFor="let cancha of canchasService.cancha | ObjToArray"
                                                                        [ngValue]="cancha._id">{{cancha.name}}</option>

                                                                            </select>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="input" class="form-label">horacancha</label>
                                                                            <input type="text" class="form-control"
                                                                                name="horacanhca"
                                                                                [(ngModel)]="cargamasivaService.selectedCargaMasiva.horascanchas">
                                                                        </div>
                                                                        
                                                                        
                                                        
                                                                        <div class="text-center">
                                                                            <button type="submit"
                                                                                class="btn btn-danger text-uppercase">Agendar
                                                                                Hora</button>
                                                                        </div>

                                                                    </form> -->

                                                                </div>

                                                            </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                              
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>

</div>

<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>