<div id="app">
    <div id="sidebar" class="active border-right">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a routerLink="/dashboard"><img src="../../../assets/Logo-Botmila.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item">
                        <a routerLink="/dashboard" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a routerLink="/horario" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Gestion Horarios/BOX</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/hora" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Agregar Horas a especialistas</span>
                        </a>
                    </li>
                    <li class="sidebar-item  active  ">
                        <a routerLink="/agendarpaciente" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Agendar una hora</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a routerLink="/especialistas" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Especialistas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/ocupation" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Especialidades</span>
                        </a>
                    </li>


                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <app-header></app-header>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>


        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-9">

                    <div class="row  justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Agendar Hora para Paciente</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-profile-visit">
                                        <!--Formulario Agregar-->
                                        <div class="row">
                                            <div class="col-lg-8 offset-md-2">
                                                <form class="row g-3 mb-3 ">
                                                    <div class="col-12">
                                                        <label for="inputEmail4" class="form-label">Hora</label>
                                                        <select class="form-select" aria-label="Default select example"
                                                            name="horaId"
                                                            [(ngModel)]="horadisponibleService.selectedHora.horaId">

                                                            <option
                                                                *ngFor="let horarios of horariosService.horarios | ObjToArray"
                                                                [ngValue]="horarios._id">{{horarios.horaInicio}} -
                                                                {{horarios.horaTermino}} box {{horarios.box}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="inputEmail4" class="form-label">Especialidad</label>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>Seleccionar Especialidad</option>
                                                            <option value="1">Masajista</option>
                                                            <option value="2">Acupunturista</option>
                                                            <option value="3">Aromaterapia</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="inputOcupacion" class="form-label">Doctor</label>
                                                        <select class="form-select" aria-label="Default select example"
                                                            name="doctorId"
                                                            [(ngModel)]="usuariosService.selectedUsuario.nameUser">

                                                            <option
                                                                *ngFor="let users of usuariosService.users | ObjToArray"
                                                                [ngValue]="users._id">{{users.nameUser}}</option>

                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="input" class="form-label">Nombre Del
                                                            Paciente</label>
                                                        <input type="text" class="form-control" name="nombrePaciente">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="input" class="form-label">Rut Del Paciente</label>
                                                        <input type="text" class="form-control" name="RutPaciente">
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit"
                                                            class="btn btn-danger text-uppercase">Agendar Hora</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body py-4 px-5">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-xl">
                                    <img src="assets/images/faces/1.jpg" alt="Face 1">
                                </div>
                                <div class="ms-3 name" *ngFor="let nombre of usuariosService.nombre | ObjToArray">
                                    <h5 class="font-bold">{{ nombre.nameUser }}</h5>
                                    <h6 class="text-muted mb-0">{{ nombre.organization }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4>TARJETA </h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-visitors-profile"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-9">
                    <div class="row  justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Lista De Horas Agendadas</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-profile-visit">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-7">
                                                    <table
                                                        class="table table-responsive table-bordered border-dark mt-2 ">

                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Nombre Paciente</th>
                                                                <th scope="col">Rut Paciente</th>
                                                                <th scope="col">Valor</th>
                                                                <th scope="col">Nombre Doctor</th>
                                                                <th scope="col">Hora/box</th>
                                                                <th scope="col">Estado</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let hora of horadisponibleService.hora | ObjToArray">
                                                                <td>nombre paciente</td>

                                                                <td>rut paciente</td>

                                                                <td *ngFor="let dataDoc of hora.doctorId">
                                                                    {{dataDoc.payment}} </td>

                                                                <td *ngFor="let dataDoc of hora.doctorId">
                                                                    {{dataDoc.nameUser}} </td>

                                                                <td *ngFor="let a of hora.horaId">{{ a.horaInicio }} box
                                                                    {{ a.box }}
                                                                </td>
                                                                <td>estado</td>



                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>

</div>

<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>