<body>
<section>
    <div class="logo">
        <img src="../../../../assets/Logo-Botmila.png" class="foto-logo">
    </div>
    <div class="text-center">
        
        <h3>Administra y planifica de manera simple conforme a tus necesidades</h3>
        <h6>Combinamos multiples tecnologias de automatizacion con inteligencia artificial <br> para mejorar la atencion al cliente</h6>
    </div>
    <div class="text-center">
        <button pButton type="button" label="Ver mas" class="p-button-outlined p-button-secondary p-button-lg m-3"></button>
        <button pButton type="button" label="Registrarse" class="p-button-success p-button-lg m-3"></button>
        <div class="logo">
            <img src="../../../../assets/tabletRecta.png" class="foto-tablet1">
        </div>
    </div>
    <div class="text-center">
        <h1>Beneficios para aumentar  tus servicios</h1>
        <h6>permitir que los usuarios se comuniquen con usted a traves de su canal preferido.</h6>
    </div>
    <div class="container">

    
    <div class="row text-center mt-5">
        <div class="col">
            <div class="m-3"><span class="material-icons circulito">
                people_alt
                </span>
            </div>
            <div><h5>Respuesta personalizada</h5></div>
            <div>respuesta inmediata y <br>personalizada a tus clientes</div>
        </div>
        <div class="col">
            <div class="m-3"><span class="material-icons circulito">
                watch_later
                </span>
            </div>
            <div><h5>Agendamiento</h5></div>
            <div>Planifica y irganiza tus horas <br>de manera automatica</div>
        </div>
        <div class="col">
            <div class="m-3"><span class="material-icons circulito">
                chat
                </span>
            </div>
            <div><h5>Eficacia</h5></div>
            <div>Atiende a tus clientes las 24 horas<br>los 7 dias de la semana</div>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col">
            <div class="m-3"><span class="material-icons circulito">
                question_answer
                </span>
            </div>
            <div><h5>Omnicanalidad</h5></div>
            <div>Tus canales comunicacionales<br>se adaptan a tus clientes</div>
        </div>
        <div class="col">
            <div class="m-3"><span class="material-icons circulito">
                show_chart
                </span>
            </div>
            <div><h5>Controla tus avances</h5></div>
            <div>Informamos de tu crecimiento<br>dia a dia</div>
        </div>
        <div class="col">
            <div class="m-3"><span class="material-icons circulito">
                show_chart
                </span>
            </div>
            <div><h5>Simplifica el chat</h5></div>
        </div>
    </div>
</div>

</section>
<section>
<div class="separacion mt-3">
</div>
</section>
<section>
    <div class="text-center mt-3">
        
        <h3>Gestiona tus horas aparte de ver aumentar ganancias y tu crecimiento</h3>
        <h6>Combinamos multiples tecnologias de automatizacion con inteligencia artificial <br> para mejorar la atencion al cliente</h6>
    </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                                <img src="../../../../assets/tabletRecta.png" class="foto-tablet2">
                        </div>
                        <div class="col-1"></div>
                        <div class="col-md-4 text-center">
                            <div class="elemento"><span class="material-icons circulito">
                                system_update
                                </span>
                            </div>
                            <div><h5>Consolidar y automatizar multiples datos</h5></div>
                            <div class="elemento"><span class="material-icons circulito">
                                show_chart
                                </span>
                            </div>
                            <div><h5>autonomia y control de resultados</h5></div>
                            <div class="elemento"><span class="material-icons circulito">
                                groups
                                </span>
                            </div>
                            <div><h5>Alineando esfuerzo entre departamentos</h5></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        
                        <div class="col-md-4 text-center">
                            <div class="elemento"><span class="material-icons circulito">
                                system_update
                                </span>
                            </div>
                            <div><h5>Consolidar y automatizar multiples datos</h5></div>
                            <div class="elemento"><span class="material-icons circulito">
                                show_chart
                                </span>
                            </div>
                            <div><h5>autonomia y control de resultados</h5></div>
                            <div class="elemento"><span class="material-icons circulito">
                                groups
                                </span>
                            </div>
                            <div><h5>Alineando esfuerzo entre departamentos</h5></div>
                        </div>
                        
                        <div class="col-1"></div>
                    <div class="col-md-6">
                        <img src="../../../../assets/tabletRecta.png" class="foto-tablet3">
                </div>
                    </div>
                </div>
            </div>
        </div>
    
    
   
    
</section>
</body>
