<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a routerLink="/dashboard"><img src="../../../assets/Bot_grafica2.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item">
                        <a routerLink="/dashboard" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item active">
                        <a routerLink="/horario" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Horarios</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a routerLink="/especialistas" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Especialistas</span>
                        </a>
                    </li>

                    <li class="sidebar-item ">
                        <a routerLink="/box" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Box</span>
                        </a>
                    </li>


                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <app-header></app-header>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <h3>HORARIOS</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-9">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>GESTION DE HORARIOS</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-profile-visit">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <table class="table table-responsive table-bordered border-dark mt-2 ">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Hora Comienzo</th>
                                                                <th scope="col">Hora Termino</th>
                                                                <th scope="col">Nombre Doctor</th>
                                                                <th scope="col">Organización</th>
                                                                <th scope="col">Ocupación</th>
                                                                <th scope="col">Opciones</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let horarios of horariosService.horarios | ObjToArray">
                        
                                                                <td>{{ horarios.hourStart }}</td>
                                                                <td>{{ horarios.hourEnd }}</td>
                        
                                                                <td *ngFor="let dataDoc of horarios.doctorId"> {{dataDoc.nameUser}} </td>
                        
                                                                <td *ngFor="let dataDoc of horarios.doctorId"> {{dataDoc.organization}} </td>
                        
                                                                <td *ngFor="let dataDoc of horarios.doctorId"> {{dataDoc.ocupation}} </td>
                                                                
                                                                <div class="btn-group mr-0" role="group"
                                                                    aria-label="Basic mixed styles example">
                                                                    <button type="button" class="btn btn-primary  mr-2" (click)="editHorarios(horarios)">Editar</button>
                                                                    <button type="button" class="btn btn-danger" (click)="deleteHorarios(horarios._id)" >Eliminar</button>
                                                                </div>
                                                            </tr>
                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--Formulario Agregar-->
                                                <div class="col-lg-6">
                                                    <form #usuarioForm="ngForm" (ngSubmit)="addHorarios(usuarioForm)" class="row g-3 mb-3 ">
                                                        <input type="hidden" name="_id" [(ngModel)]="horariosService.selectedHorario._id">
                                                        <div class="col-12">
                                                            <label for="inputEmail4" class="form-label">Hora Inicio</label>
                                                            <input type="text" class="form-control" name="nameUser"
                                                                [(ngModel)]="horariosService.selectedHorario.hourStart">
                                                        </div>
                        
                                                        <div class="col-12">
                                                            <label for="inputOcupacion" class="form-label">Hora Termino</label>
                                                            <input type="text" class="form-control" name="hourEnd"
                                                                [(ngModel)]="horariosService.selectedHorario.hourEnd">
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="inputOcupacion" class="form-label">Organización</label>
                                                            <input type="text" class="form-control" name="organization"
                                                                [(ngModel)]="horariosService.selectedHorario.organization">
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="inputOcupacion" class="form-label">Doctor</label>
                                                            <input type="text" class="form-control" name="doctorId"
                                                                [(ngModel)]="horariosService.selectedHorario.doctorId">
                                                        </div>

                                                        <div class="text-center">
                                                            
                                                            <button type="submit" class="btn btn-danger text-uppercase" value="Guardar">Agregar
                                                                Hora</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body py-4 px-5">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-xl">
                                    <img src="assets/images/faces/1.jpg" alt="Face 1">
                                </div>
                                <div class="ms-3 name">
                                    <h5 class="font-bold">Marco Hernández</h5>
                                    <h6 class="text-muted mb-0">Centro suyai</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                </div>
            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>
</div>
<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>