<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class="text-light font-weight-bold" routerLink="/home">Botmila</h4>
        </div>
        <div class="menu">
            <a routerLink="/dashboard" class="d-block  text-light p-3"><i
                    class="icon ion-md-apps mr-2 lead"></i>Dashboard</a>
            <a routerLink="/horario" class="d-block  text-light p-3"><i
                    class="icon ion-md-calendar mr-2 lead"></i>Horarios</a>
            <a routerLink="/especialistas" class="d-block text-light p-3"><i
                    class="icon ion-md-people mr-2 lead"></i>Especialistas</a>
            <a routerLink="/box" class="d-block  text-light p-3"><i class="icon ion-md-cube mr-2 lead"></i>Box</a>
        </div>
    </div>
    <div class="w-100">
        <app-header></app-header>

        <div id="content">
            <section class="py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <h1 class="font-weight-bold mb-0">Horarios</h1>
                            <p class="lead text-muted">Gestion de Horarios</p>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-6 stat my-3">
                                <h1>Horarios</h1>
                            </div>
                            <div class="col-lg-6 stat my-3">
                                <h1>Agregar Horarios</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Tabla y formulario-->
            <section>
                <!--Tabla Crud-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-bordered border-primary mt-2">
                                <thead>
                                    <tr>
                                        <th scope="col">Hora Comienzo</th>
                                        <th scope="col">Hora Termino</th>
                                        <th scope="col">Nombre Doctor</th>
                                        <th scope="col">Organización</th>
                                        <th scope="col">Ocupación</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let horarios of horariosService.horarios | ObjToArray">

                                        <td>{{ horarios.hourStart }}</td>
                                        <td>{{ horarios.hourEnd }}</td>

                                        <td *ngFor="let dataDoc of horarios.doctorId"> {{dataDoc.nameUser}} </td>

                                        <td *ngFor="let dataDoc of horarios.doctorId"> {{dataDoc.organization}} </td>

                                        <td *ngFor="let dataDoc of horarios.doctorId"> {{dataDoc.ocupation}} </td>
                                        
                                        <div class="btn-group mr-0" role="group"
                                            aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-primary  mr-2" (click)="editHorarios(horarios)">Editar</button>
                                            <button type="button" class="btn btn-danger" (click)="deleteHorarios(horarios._id)" >Eliminar</button>
                                        </div>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!--Formulario Agregar-->
                        <div class="col-lg-6">
                            <form #usuarioForm="ngForm" (ngSubmit)="addHorarios(usuarioForm)" class="row g-3 mb-3 ">
                                <input type="hidden" name="_id" [(ngModel)]="horariosService.selectedHorario._id">
                                <div class="col-12">
                                    <label for="inputEmail4" class="form-label">Hora Inicio</label>
                                    <input type="text" class="form-control" name="nameUser"
                                        [(ngModel)]="horariosService.selectedHorario.hourStart">
                                </div>

                                <div class="col-12">
                                    <label for="inputOcupacion" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" name="password"
                                        [(ngModel)]="horariosService.selectedHorario.hourEnd">
                                </div>
                                <!-- <div class="col-12">
                                    <label for="inputOcupacion" class="form-label">Organizacion</label>
                                    <input type="text" class="form-control" name="organization"
                                        [(ngModel)]="usuariosService.selectedUsuario.organization">
                                </div> -->
                                <div class="text-center">
                                    
                                    <button type="submit" class="btn btn-danger text-uppercase" value="Guardar">Agregar
                                        Especialista</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>
