<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
    
  </head>

  <body>
    <app-header></app-header>

    <section class="py-5 bg-light">
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6">
            <h2 class="pb-3">K-BOT MARKET</h2>
            <P>Vende de forma inteligente
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac tristique nisl, sit amet convallis turpis. Phasellus sed ante in nisl maximus euismod. Maecenas sit amet ultrices lectus, sit amet convallis ex. Curabitur at felis id magna pharetra fringilla non ac quam. Aenean fringilla maximus quam
            </P>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube-nocookie.com/embed/x9MfTYpARx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
        </div>
      </div>
    
    </section>

    <section class="py-5 ">
      <div class="container my-5 text-center" id="Servicios">
          <div class="row mb-3">
              <div class="col-md-12">
                  <h2>Nuestros Servicios</h2>
                  <p>Diseño e implementacion de chatbots para su negocio</p>
              </div>
          </div>
        <div class="row">
                  <div class="col-md-4">
                    <img src="assets/Botmila-MARKET.png"alt="" width="150" height="150" class="d-inline-block align-text-top" routerLink="/kbot-market">
                      <h2 class="pt-3">K-BOTS MARKET</h2>
                      <p>Asistente virtual desarrollado con inteligencia artificial, que tiene la capacidad de gestionar la venta de diferentes productos, además de responder las consultas de los clientes, acompañándolo a este hasta el pago de su pedido. Así apoyamos a la empresa en aumentar sustancialmente la toma de pedidos.
                      </p>
                  </div>
                  <div class="col-md-4">
                    <img src="assets/Botmila-AGENDA.png"alt="" width="150" height="150" class="d-inline-block align-text-top" routerLink="/kbot-agenda">
                      <h2 class="pt-3">K-BOTS AGENDA</h2>
                      <p>   Sistema Cloud que permite liberar y reservar horas para los diferentes servicios de agendamiento, como centros médicos, spa, hotelerías y centros deportivos. Siendo un complemento estratégico en la industria.
                      </p>
                  </div>
                  <div class="col-md-3">
                    <img src="assets/Botmila-MEDIDA.png" alt="" width="150" height="150" class="d-inline-block align-text-top" routerLink="/kbot-personalizado">
                      <h2 class="pt-3">CHATBOT A MEDIDA</h2>
                      <p>Nuestra tecnología permite adaptarnos a diferentes modelos de negocios, que permitan poner al cliente en el centro de nuestro quehacer, velando por una experiencia en cada punto de contacto.</p>
                  </div>
              </div>
           
      </div>
      </section>

      <div class="mt-5"></div>
      <section class="py-5 bg-light">
      <div class="container my-5">
        <div class="row">
          <div class="col-md-6" id="Nosotros">
              <h1 class="pb-3">QUIENES SOMOS</h1>
              <h3>NUESTRA HISTORIA</h3>
              <p class="card-text" style="text-align: justify;">
                Somos una empresa dedicada a Investigación y Desarrollo (I+D) orientada en crear productos y servicios que entreguen valor a nuestros clientes.
            </p>
            <p class="card-text" style="text-align: justify;">
                Nuestra visión es entregar una experiencia memorable a cada cliente, integrando tecnología de vanguardia, que permitan el crecimiento constante en cada modelo de negocio y de esta manera, posicionarnos como la empresa líder en el mercado de asistentes virtual y apoyo a la PYME.
            </p>
          </div>
          <div class="col-md-4 offset-md-2">
              <div class="row">
                  <div class="col-md-6">
                    <img src="assets/quien.png"alt="" width="600" height="300" class="d-inline-block align-text-top">
                      <h2 class="pt-3"></h2>
                      <p></p>
                  </div>
              </div>
          </div>
        </div>
      </div>
      </section>
      <section class="seccion">
        <div class="container text-center" id="Contacto">
          <img class="img-fluid rounded-start" loading="lazy" src="assets/asistente.png" />
          <h2 class="display-4 mb-5 text-center">Contactanos</h2>
          <div class="row">
            <div class="col-lg-8">
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">E-mail</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="col-12">
                  <label for="Asunto" class="form-label">Asunto</label>
                  <input type="text" class="form-control" id="Asunto">
                </div>
                <div class="form-group">
                  <label for="mensaje">Mensaje</label>
                  <textarea class="form-control"  id="mensaje" rows="5"></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-danger text-uppercase">Enviar</button>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <div class="card bg-ligth mb-3 border-light text-center mt-3">
                <div class="card-body">
                  <div class="informes">
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p>+56985612475</p>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p>Correo@botmila.com</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
  

    <section class="footer py-5 bg-dark text-white border" id="footer">
      <div class="container py-3">
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                  <p class="">86 avenida libertad, Ñuble</p>
                  <ul class="list-unstyled">
                      <li>+555 555 555</li>
                      <li>correo@bolit.com</li>
                      <li>www.botmila.com</li>
                  </ul>
              </div>
              
                      <div class="col-md-3">
                          <h6 class="pb-2">QUICK LINKS </h6>
                          <ul class="list-unstyled">
                              <a href="#"><li> Single Story</li></a>
                              <a href="#"><li> Double Story</li></a>
                              <a href="#"><li> Triple Story</li></a>
                              <a href="#"><li> Resort </li></a>
                              <a href="#"><li> Homes in Hawai</li></a>
                              <a href="#"><li> Palace</li></a>
                              
                              
                          </ul>
                         
                      </div>
                      <div class="col-md-3">
                          <h6 class="pb-2">ABOUT OP </h6>
                          <ul class="list-unstyled">
                              <a href="#"><li> Single Story</li></a>
                              <a href="#"><li> Double Story</li></a>
                              <a href="#"><li> Triple Story</li></a>
                              <a href="#"><li> Resort </li></a>
                              <a href="#"><li> Homes in Hawai</li></a>
                              <a href="#"><li> Palace</li></a>
                              
                              
                          </ul>
                         
                      </div>
                      <div class="col-md-3">
                          <h6 class="pb-2">NEWSLETTER </h6>
                          <small> Get the most recent updates from our site and be updated your self...GET IN TOUCH</small>
                          <div class="social-icons pt-3">
                              <ul class="list-inline list-unstyled">
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
    
  </section>
  <div class="copyright bg-light border pt-2">
    <div class="container">
        <div class="row justify-content-md-center">
            <p> © 2022 boliot todos los derechos reservados </p>
        </div>
    </div>
</div>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>

</html>