<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <app-header></app-header>

  <section class="py-5 bg-light">
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="card border-0">
            <div class="card-header text-center border-0">
              <h1 class="display-4">Gestiona tus Ventas</h1>
              <h2 class="display-6">con Inteligencia Artificial</h2>
            </div>
            <div>
              <form action="/recibirCorreo" class="container-fluid bg-light mb-2" method="post">

                <legend class="text-center">Registrarse y te contactaremos</legend>

                <div class="input-group mb-3">
                  <label class="input-group-text" for="email">
                    Correo electrónico
                  </label>

                  <input autocomplete="off" autofocus class="form-control" id="email" maxlength="30" name="email"
                    placeholder="Ingrese aquí su correo electrónico" required type="email" />
                </div>

                <div class="d-grid gap-2">
                  <button class="btn btn-secondary" type="submit">
                    REGISTRAR
                  </button>
                </div>
              </form>
              <div id="fb-root"></div>
              <!-- Your Plugin de chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
          data-aos="fade-up">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube-nocookie.com/embed/x9MfTYpARx8" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="py-5 ">
    <div class="container my-5 text-center" id="Servicios">
      <div class="row mb-3">
        <div class="col-md-12">
          <h2>Nuestros Servicios</h2>
          <p>Diseño e implementacion de chatbots para su negocio</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/Botmila-MARKET.png" alt="" width="150" height="150" class="d-inline-block align-text-top"
            routerLink="/kbot-market">
          <h2 class="pt-3">K-BOTS MARKET</h2>
          <p>Asistente virtual desarrollado con inteligencia artificial, que tiene la capacidad de gestionar la venta de
            diferentes productos, además de responder las consultas de los clientes, acompañándolo a este hasta el pago
            de su pedido. Así apoyamos a la empresa en aumentar sustancialmente la toma de pedidos.
          </p>
        </div>
        <div class="col-md-4">
          <img src="assets/Botmila-AGENDA.png" alt="" width="150" height="150" class="d-inline-block align-text-top"
            routerLink="/kbot-agenda">
          <h2 class="pt-3">K-BOTS AGENDA</h2>
          <p> Sistema Cloud que permite liberar y reservar horas para los diferentes servicios de agendamiento, como
            centros médicos, spa, hotelerías y centros deportivos. Siendo un complemento estratégico en la industria.
          </p>
        </div>
        <div class="col-md-3">
          <img src="assets/Botmila-MEDIDA.png" alt="" width="150" height="150" class="d-inline-block align-text-top"
            routerLink="/kbot-personalizado">
          <h2 class="pt-3">CHATBOT A MEDIDA</h2>
          <p>Nuestra tecnología permite adaptarnos a diferentes modelos de negocios, que permitan poner al cliente en el
            centro de nuestro quehacer, velando por una experiencia en cada punto de contacto.</p>
        </div>
      </div>

    </div>
  </section>


  <section class="py-5 bg-light">
    <div class="container center">
      <div class="row">
        <div class="col-md-6" id="Nosotros">
          <h1 class="pb-3 text-center">QUIENES SOMOS</h1>
          <h3>NUESTRA HISTORIA</h3>
          <p class="card-text" style="text-align: justify;">
            Somos una empresa dedicada a Investigación y Desarrollo (I+D) orientada en crear productos y servicios que
            entreguen valor a nuestros clientes.
          </p>
          <p class="card-text" style="text-align: justify;">
            Nuestra visión es entregar una experiencia memorable a cada cliente, integrando tecnología de vanguardia,
            que permitan el crecimiento constante en cada modelo de negocio y de esta manera, posicionarnos como la
            empresa líder en el mercado de asistentes virtual y apoyo a la PYME.
          </p>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
          data-aos="fade-up">

        </div>

      </div>
    </div>
  </section>

  <section class="seccion">
    <div class="container text-center" id="Contacto">
      <img class="img-fluid rounded-start" loading="lazy" src="assets/asistente.png" />
      <h2 class="display-4  text-center">Contactanos</h2>
      <p class="mb-5">
        ¿Tienes alguna duda o consulta? No dudes en contactarnos
      </p>
      <div class="row">
        <div class="col-lg-8">
          <form #emailForm="ngForm" (ngSubmit)="enviarEmail(emailForm)" class="row g-3 mb-3">
            <!--
               <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre1" name="nombre">
              </div>
            -->
           

            <div class="col-md-6">
              <label for="email" class="form-label">E-mail</label>
              <input [(ngModel)]="mailService.selectedEmail.emailPersona" type="email" class="form-control"  name="emailPersona">
            </div>
            <div class="col-12">
              <label for="Asunto" class="form-label">Asunto</label>
              <input [(ngModel)]="mailService.selectedEmail.asunto" type="text" class="form-control"  name="asunto">
            </div>
            <div class="form-group">
              <label for="mensaje">Mensaje</label>
              <textarea [(ngModel)]="mailService.selectedEmail.mensaje" class="form-control" name="mensaje" rows="5"></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-danger text-uppercase">Enviar</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="card bg-ligth mb-3 border-dark text-center mt-3">
            <div class="card-body">
              <div class="informes">
                <span><i class="icon ion-md-call"></i></span>

                <p>+56985612475</p>
                <span><i class="icon ion-md-mail"></i></span>
                <h4 class="text-uppercase">Correo electrónico</h4>
                <p>Correo@botmila.com</p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <app-footer></app-footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script>
    const $form = document.querySelector('#form')
    $form.addEventListener('submit', handleSubmit)
    function handleSubmit(event) {
      event.preventDefault()
      const form = new FormData(this)
      console.log(form.get('name'))
    }
  </script>
</body>

</html>