<div class="row">
  <header class="col" id="header">
    <h2>Cancha 1</h2>
  </header>
</div>

<div class="row">
  <span class="col dia">Lunes</span>
  <span class="col dia">Martes</span>
  <span class="col dia">Miercoles</span>
  <span class="col dia">Jueves</span>
  <span class="col dia">Viernes</span>
  <span class="col dia">Sabado</span>
  <span class="col dia">Domingo</span>
</div>

<div class="row">
  <div class="col">
    <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray">
      <ng-container *ngFor="let c of cargamasi.cancha | ObjToArray">
        <ng-container *ngIf="cargamasi.semana === 27">
          <ng-container *ngIf="cargamasi.dia === 'lunes'">
            <ng-container *ngIf="cargamasi.disponibilidad === true">
              <span class="row horas bg-success">{{ cargamasi.horario }}</span>
            </ng-container>
            <ng-container *ngIf="cargamasi.disponibilidad === false">
              <span class="row horas bg-danger">{{ cargamasi.horario }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="col">
    <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray">
      <ng-container *ngFor="let c of cargamasi.cancha | ObjToArray">
        <ng-container *ngIf="cargamasi.semana === 27">
          <ng-container *ngIf="cargamasi.dia === 'martes'">
            <ng-container *ngIf="cargamasi.disponibilidad === true">
              <span class="row horas bg-success">{{ cargamasi.horario }}</span>
            </ng-container>
            <ng-container *ngIf="cargamasi.disponibilidad === false">
              <span class="row horas bg-danger">{{ cargamasi.horario }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="col">
    <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray">
      <ng-container *ngFor="let c of cargamasi.cancha | ObjToArray">
        <ng-container *ngIf="cargamasi.semana === 27">
          <ng-container *ngIf="cargamasi.dia === 'miercoles'">
            <ng-container *ngIf="cargamasi.disponibilidad === true">
              <span class="row horas bg-success">{{ cargamasi.horario }}</span>
            </ng-container>
            <ng-container *ngIf="cargamasi.disponibilidad === false">
              <span class="row horas bg-danger">{{ cargamasi.horario }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="col">
    <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray">
      <ng-container *ngFor="let c of cargamasi.cancha | ObjToArray">
        <ng-container *ngIf="cargamasi.semana === 27">
          <ng-container *ngIf="cargamasi.dia === 'jueves'">
            <ng-container *ngIf="cargamasi.disponibilidad === true">
              <span class="row horas bg-success">{{ cargamasi.horario }}</span>
            </ng-container>
            <ng-container *ngIf="cargamasi.disponibilidad === false">
              <span class="row horas bg-danger">{{ cargamasi.horario }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="col">
    <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray">
      <ng-container *ngFor="let c of cargamasi.cancha | ObjToArray">
        <ng-container *ngIf="cargamasi.semana === 27">
          <ng-container *ngIf="cargamasi.dia === 'viernes'">
            <ng-container *ngIf="cargamasi.disponibilidad === true">
              <span class="row horas bg-success">{{ cargamasi.horario }}</span>
            </ng-container>
            <ng-container *ngIf="cargamasi.disponibilidad === false">
              <span class="row horas bg-danger">{{ cargamasi.horario }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="col">
    <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray">
      <ng-container *ngFor="let c of cargamasi.cancha | ObjToArray">
        <ng-container *ngIf="cargamasi.semana === 27">
          <ng-container *ngIf="cargamasi.dia === 'sabado'">
            <ng-container *ngIf="cargamasi.disponibilidad === true">
              <span class="row horas bg-success">{{ cargamasi.horario }}</span>
            </ng-container>
            <ng-container *ngIf="cargamasi.disponibilidad === false">
              <span class="row horas bg-danger">{{ cargamasi.horario }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="col">
    <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi | ObjToArray">
      <ng-container *ngFor="let c of cargamasi.cancha | ObjToArray">
        <ng-container *ngIf="cargamasi.semana === 27">
          <ng-container *ngIf="cargamasi.dia === 'domingo'">
            <ng-container *ngIf="cargamasi.disponibilidad === true">
              <span class="row horas bg-success">{{ cargamasi.horario }}</span>
            </ng-container>
            <ng-container *ngIf="cargamasi.disponibilidad === false">
              <span class="row horas bg-danger">{{ cargamasi.horario }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
