.cont{
  background-color: #F8F5F5;
}

#prev,
#nomCancha,
#next
 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}

#nomCancha {
  margin-top: 0.3rem;
  color: rgb(73, 89, 177);
  letter-spacing: 0.1rem;
}

#prev span,
#next span {
  font-size: 1.4rem;
  color: rgb(73, 177, 113);
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(73, 177, 113);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#prev span:hover,
#next span:hover {
  cursor: pointer;
  color: rgb(194, 37, 37);
  text-shadow: rgb(194, 37, 37);
}

.dias {
  background-color: #9FABEE;
  border-radius: 0.4rem;
  font-size: 0.79rem;
}

.diasDisp{
  background-color: #33CC86;
  border-radius: 0.4rem;
}

.diasNoDisp{
  background-color: #E4E4E4;
  border-radius: 0.4rem;
}

#disp{
  font-size: 0.8rem;
}

#textDisp{
  font-size: 0.7rem;
}

.shadowB{
  box-shadow: 0rem 0.1rem 0.1rem #303030;
}
