<div id="app">
    <div id="">
       
        <div class="page-content">
            <section class="row">
                <div class="col">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Estado de Canchas Semanal</h4>
                                </div>
                                <div class="card-body" id="AAA">
                                    <div id="chart-profile-visit">
                                        <div class="">
                                            <div class="row">
                                                <div class="col">

                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 1</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="table-responsive-md">
                                                                    <div class="scrollable">
                                                                        <table
                                                                        class="table table-bordered table-hover border-dark mt-2 text-center">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">
                                                                                    lunes
                                                                                </th>
                                                                                <th scope="col">martes
                                                                                </th>
                                                                                <th scope="col">Miercoles</th>
                                                                                <th scope="col">Jueves</th>
                                                                                <th scope="col">Viernes</th>
                                                                                <th scope="col">Sabado</th>
                                                                                <th scope="col">Domingo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <ng-container
                                                                            *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                            <tbody class="text-center"
                                                                                *ngFor=" let a of horacancha.canchas">
                                                                                <tr
                                                                                    *ngIf="a.name === 'Cancha 1' ">

                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                    <td>{{horacancha.horario}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </ng-container>
                                                                    </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="col">
                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Cancha 2</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="table-responsive-md">
                                                                    <div class="scrollable">
                                                                        <table
                                                                            class="table table-bordered table-hover border-dark mt-2 text-center">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">
                                                                                        lunes
                                                                                    </th>
                                                                                    <th scope="col">martes
                                                                                    </th>
                                                                                    <th scope="col">Miercoles</th>
                                                                                    <th scope="col">Jueves</th>
                                                                                    <th scope="col">Viernes</th>
                                                                                    <th scope="col">Sabado</th>
                                                                                    <th scope="col">Domingo</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <ng-container
                                                                                *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                                <tbody class="text-center"
                                                                                    *ngFor=" let a of horacancha.canchas">
                                                                                    <tr
                                                                                        *ngIf="a.name === 'Cancha 1' ">

                                                                                        <td>{{horacancha.horario}}</td>
                                                                                        <td>{{horacancha.horario}}</td>
                                                                                        <td>{{horacancha.horario}}</td>
                                                                                        <td>{{horacancha.horario}}</td>
                                                                                        <td>{{horacancha.horario}}</td>
                                                                                        <td>{{horacancha.horario}}</td>
                                                                                        <td>{{horacancha.horario}}</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </ng-container>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>
</div>
