<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap"
  rel="stylesheet"
/>
<body>
<div class="container" #content>
  <div
    class="row d-flex justify-content-center text-center fw-bold text-uppercase"
  >
    <div class="col-1 text-end" id="prev">
      <span (click)="back()">&#9664;</span>
    </div>
    <div class="col-2" id="nomCancha">
      <p>{{ canchas[contador] }}</p>
    </div>
    <div class="col-1 text-start" id="next">
      <span (click)="next()">&#9654;</span>
    </div>
    <div></div>
  </div>

  <div class="row row-cols-7 fw-bold">
    <div class="col">
      <div class="text-center pt-3 pb-1 mb-1 dias">
        <p>Lun</p>
      </div>
    </div>
    <div class="col">
      <div class="dias text-center pt-3 pb-1 mb-1">
        <p>Mar</p>
      </div>
    </div>
    <div class="col">
      <div class="dias text-center pt-3 pb-1 mb-1">
        <p>Mie</p>
      </div>
    </div>
    <div class="col">
      <div class="dias text-center pt-3 pb-1 mb-1">
        <p>Jue</p>
      </div>
    </div>
    <div class="col">
      <div class="dias text-center pt-3 pb-1 mb-1">
        <p>Vie</p>
      </div>
    </div>
    <div class="col">
      <div class="dias text-center pt-3 pb-1 mb-1">
        <p>Sab</p>
      </div>
    </div>
    <div class="col">
      <div class="dias text-center pt-3 pb-1 mb-1">
        <p>Dom</p>
      </div>
    </div>
  </div>

  <div class="row row-cols-7 text-center fw-bold">
    <div class="col">
      <div *ngFor="let a of horasL" class="bg-success">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ a }}</p>
        </div>
      </div>
      <div *ngFor="let b of horasLF" class="bg-danger">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ b }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let a of horasM" class="bg-success">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ a }}</p>
        </div>
      </div>
      <div *ngFor="let b of horasMF" class="bg-danger">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ b }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let a of horasMi" class="bg-success">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ a }}</p>
        </div>
      </div>
      <div *ngFor="let b of horasMiF" class="bg-danger">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ b }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let a of horasJ" class="bg-success">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ a }}</p>
        </div>
      </div>
      <div *ngFor="let b of horasJF" class="bg-danger">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ b }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let a of horasV" class="bg-success">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ a }}</p>
        </div>
      </div>
      <div *ngFor="let b of horasVF" class="bg-danger">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ b }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let a of horasS" class="bg-success">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ a }}</p>
        </div>
      </div>
      <div *ngFor="let b of horasSF" class="bg-danger">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ b }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let a of horasD" class="bg-success">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ a }}</p>
        </div>
      </div>
      <div *ngFor="let b of horasDF" class="bg-danger">
        <div class="pt-3 pb-1 mt-1 mb-2">
          <p>{{ b }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
