:root{
    --primary: #111854;
    --light: #ffffff;
    --grey: #efefef;
}

body{
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--primary);
}
a:hover{
    text-decoration: none;
}
.bg-light { background-color: #ffffff !important;}

.bg-primary{
    background-color: #111854 !important;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
  width: 18rem;  
}
#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.stat{
    border-right: 1px solid #efefef;
}
span {
    display: inline-flex;
    vertical-align: middle;
  }