<body #scroll>
  <section>
    <div class="container text-center">
      <h1 style="color: white;">Bienvenido </h1>
      <h1 style="color: white;">NOMBRE DE EMPLEADO</h1>
      <h1 style="color: white;">este es el estado actual de canchas el bicho</h1>
      <div class="row row-30 align-items-center">
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container text-center ">

      <div class="row mini">
        <div class="col-md-1">
        </div>
        <div class="col burbuja" style="background-color: #84b1f8;">

          <h1>14</h1><span class="h5">CLIENTES</span>


        </div>
        <div class="col-md-1">
        </div>

        <div class="col burbuja" style="background-color: #d1e2fc;">

          <h1>3</h1><span class="h5">NUEVOS CLIENTES</span>


        </div>

        <div class="col-md-1">

        </div>
        <div class="col burbuja" style="background-color: 
        #bee9c8;">

          <h1>5</h1><span class="h5">NUEVAS OPINIONES</span>


        </div>

      </div>

    </div>
  </section>

  <section>
    <div class="container text-center ">
      <div class="row">
        <div class="col-lg-6 col-xl  burbuja">
          <h2 class="pt-3"></h2><span class="h2">HOY</span>
          <div class="table-responsive-md">
            <div class="scrollable">
              <table class="table border-primary">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">Nombre</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Cancha</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Jose Antonio</td>
                    <td>09:00-10:00</td>
                    <td>cancha 1</td>
                    <td>Paga</td>
                  </tr>
                  <tr>
                    <td>Alejandro elcapo</td>
                    <td>10:00-11:00</td>
                    <td>cancha 1</td>
                    <td>Paga</td>
                  </tr>
                  <tr>
                    <td>Eduardo Lara</td>
                    <td>13:00-14:00</td>
                    <td>cancha 2</td>
                    <td>Paga</td>
                  </tr>
                  <tr>
                    <td>Guillermo Cardenas</td>
                    <td>16:00-17:00</td>
                    <td>cancha 2</td>
                    <td>Paga</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col burbuja">
          <h1>Canchas</h1>
        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="text-center ">
      <h1 class="display-4 fw-normal" style="color: white;">SEMANA</h1>
    </div>
    <div class="container">
        <div class="row burbuja">
          <div class="col-md-6 " #ContainerRef2>
            <ngx-charts-advanced-pie-chart [view]="[ContainerRef2.offsetWidth, 400]" scheme="forest"
              label="Total cancha 1" [results]="cancha1" [gradient]="gradient" (select)="onSelect($event)">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="col-md-6" #ContainerRef3>
            <ngx-charts-advanced-pie-chart [view]="[ContainerRef3.offsetWidth, 400]" scheme="forest"
              label="Total cancha 2" [results]="cancha2" [gradient]="gradient" (select)="onSelect($event)">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
        
    </div>
  </section>

  <section >
    <div class="container text-center">

      <div class="row">
        <div #ContainerRef class="col-lg-6 col-xl burbuja">

          <h2 class="pt-3"></h2><span class="h2">Preferencia de cancha</span>
          <ngx-charts-bar-vertical-2d [view]="[ContainerRef.offsetWidth, 400]" scheme="forest" [results]="canchas"
            [legend]="showLegend" [legendPosition]="legendPosition" [yAxis]="showYAxis" legendTitle="Popularidad"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
          </ngx-charts-bar-vertical-2d>


        </div>
        <div class="col   burbuja">

          <h2 class="pt-3"></h2><span class="h2">Opinion</span>
          <div class="table-responsive-md">
            <div class="scrollable">
              <table class="table">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">Nombre</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Cancha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Jose Eduardo</td>
                    <td>16:00-17:00/23-09</td>
                    <td>cancha 2</td>
                  </tr>
                </tbody>
              </table>
              <h5>Exelente servicio!!!
                Desde el momento de realizar la reserva hasta el final la expereiencia fue genial!!
              </h5>
            </div>
            <div class="table-responsive-md">
              <div class="scrollable">
                <table class="table">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">Nombre</th>
                      <th scope="col">Hora</th>
                      <th scope="col">Cancha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fransisco Correa</td>
                      <td>16:00-17:00/23-09</td>
                      <td>cancha 3</td>
                    </tr>
                  </tbody>
                </table>
                <h5>Buenas canchas
                  Me faltaron 2 puntos para clasificar en el ultimo campeonato man
                </h5>
              </div>
            </div>
          </div>


        </div>


      </div>

    </div>
  </section>

  <section >
    <div class="container text-center ">
      <div class="row burbuja">
        <h2 class="pt-3"></h2><span class="h2">Clientes</span>
        <div class="col-lg-12 col-xl ">
        <div class="table-responsive-md">
          <div class="scrollable">
            <table class="table">
              <thead>
                <tr class="table-primary">
                  <th scope="col">Nombre</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Mail</th>
                  <th scope="col">Edad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jose Antonio</td>
                  <td>+56975611352</td>
                  <td>Mail1@gmail.com</td>
                  <td>35</td>
                </tr>
                <tr>
                  <td>Alejandro elcapo</td>
                  <td>+56932645795</td>
                  <td>Mail2@mail.com</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>Eduardo Lara</td>
                  <td>+5698978655</td>
                  <td>Mail3@mail.com</td>
                  <td>43</td>
                </tr>
                <tr>
                  <td>Guillermo Cardenas</td>
                  <td>+5693252323</td>
                  <td>Mail4@mail.com</td>
                  <td>40</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</body>