<body>
  <div class="registration-form">
    <form (ngSubmit)="submit()" [formGroup]="torneo">

      <div class="a">
        <h4>Registro nuevo torneo</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" id="nombreTorneo" formControlName="nombreTorneo"
          placeholder="Nombre de torneo">
      </div>
      <div class="form-group">
        <label for="inputOcupacion" class="form-label">Seleccione tipo de torneo</label>
        <select class="form-select item" aria-label="Default select example" formControlName="tipoTorneo" id="tipoTorneo">
          <ng-container *ngFor="let Torneo of Torneo">
          <option [value]="Torneo._id">{{Torneo.name}}</option>
        </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="inputOcupacion" class="form-label">Seleccione Categoria de torneo</label>
        <select class="form-select item" aria-label="Default select example" formControlName="categoriaTorneo" id="categoriaTorneo">
         <ng-container *ngFor="let CategoriaT of CategoriaT">
          <option [value]="CategoriaT._id">{{CategoriaT.name}}</option>
         </ng-container>

        </select>
      </div>
      <div class="form-group">
        <label for="inputOcupacion" class="form-label">Seleccione Categoria de Participantes</label>
        <select class="form-select item" aria-label="Default select example" formControlName="categoriaParticipantes" id="categoriaParticipantes">
         <ng-container *ngFor="let CategoriaPart of CategoriaPart">
          <option [value]="CategoriaPart._id">{{CategoriaPart.name}}</option>
         </ng-container>

        </select>
      </div>
      <div class="form-group">
        <label for="inputOcupacion" class="form-label">Cantidad de Jugadores</label>
        <select class="form-select item" aria-label="Default select example" formControlName="limiteParejas" id="limiteParejas" >
          <option>8</option>
          <option>16</option>
          <option>24</option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" class="form-control item" formControlName="valorInscripcion" id="valorInscripcion"
          placeholder="Valor por pareja">
      </div>
      <div class="form-group">
        <label>Fecha de inico inscripcion</label>
        <input type="datetime-local" class="form-control item" formControlName="inicioInscripciones" id="inicioInscripciones"
          placeholder="Fecha ">
      </div>
      <div class="form-group">
        <label>Fecha de fin inscripcion</label>
        <input type="datetime-local" class="form-control item" formControlName="finInscripciones" id="finInscripciones"
          placeholder="Fecha ">
      </div>
      <div class="form-group">
        <label>Fecha del Torneo</label>
        <input type="datetime-local" max="2022-12-31 23:59:59.999Z" class="form-control item" formControlName="inicioT" id="inicioT"
          placeholder="">
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" formControlName="detalle" id="detalle"
          placeholder="Detalles del Torneo">
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" formControlName="lugar" id="lugar"
          placeholder="Lugar donde sera el Torneo">
      </div>

      <!-- <input type="hidden" class="form-control item" formControlName="organization" id="organization"> -->

      <div class="form-group">
        <button type="submit" class="btn btn-block create-account">Crear Torneo</button>
      </div>
      
    </form>
    <div class="social-media">
    </div>
  </div>
</body>