<div class=" row row-cols-7 fw-bold mt-4 ">

  <div class="col ">
    <div class=" pt-2 pb-2 text-center ">
      <span> Lunes  <br> {{ fechaDias( 'lunes' ) | date: 'dd/MMM': 'UTC' }} </span>
    </div>
  </div>

  <div class="col">
    <div class=" pt-2 pb-2 text-center ">
      <span> Martes <br> {{ fechaDias( 'martes' ) | date: 'dd/MMM': 'UTC' }} </span>
    </div>
  </div>

  <div class="col">
    <div class=" pt-2 pb-2 text-center ">
      <span> Miércoles <br> {{ fechaDias( 'miércoles' ) | date: 'dd/MMM': 'UTC' }} </span>
    </div>
  </div>

  <div class="col">
    <div class=" pt-2 pb-2 text-center ">
      <span> Jueves <br> {{ fechaDias( 'jueves' ) | date: 'dd/MMM': 'UTC' }} </span>
    </div>
  </div>

  <div class="col">
    <div class=" pt-2 pb-2 text-center ">
      <span> Viernes <br> {{ fechaDias( 'viernes' ) | date: 'dd/MMM': 'UTC' }} </span>
    </div>
  </div>

  <div class="col">
    <div class=" pt-2 pb-2 text-center ">
      <span> Sábado <br> {{ fechaDias( 'sábado' ) | date: 'dd/MMM': 'UTC' }} </span>
    </div>
  </div>

  <div class="col">
    <div class=" pt-2 pb-2 text-center ">
      <span> Domingo <br> {{ fechaDias( 'domingo' ) | date: 'dd/MMM': 'UTC' }} </span>
    </div>
  </div>

</div>
