body{
    background-color: #f5fffa;
    font-family: 'Montserrat', sans-serif;
    }
    .scrollable{
      max-height: 600px;
      overflow: auto;
      position: relative;
      
  }
    .burbuja {

      background-color: white;
      margin-bottom: 20px;
      box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, .1);
      border-radius: 15px;
      margin: 1rem;
    }
    
    .burbujax {
    
      background-color: #d3ecd7;
      margin-bottom: 20px;
      box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, .1);
      border-radius: 15px;
      margin: 1rem;
    }
    .burbujaF {
    
      background-color: #d3ecd7;
      margin-bottom: 20px;
      box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, .1);
      border-radius: 15px;
      margin: 1rem;
    }
    
    .burbuja2 {
    
      background-color: #d3ecd7;
      margin-bottom: 20px;
      box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, .1);
      border-radius: 15px;
      border: solid #78e289;
    }
    
    .fecha {
      border-radius: 15px;
      background-color: white;
      border-top: #cfe1ff solid 1rem;
      height: 7rem;
      width: 8em;
      margin-top: 1rem;
    }
    
    .detalle {
      border-radius: 15px;
      background-color: white;
      border-left: #78e289 solid 1rem;
      border-radius: 15px;
      margin-left: 1rem;
      margin-top: 1rem;
    }
    
    .pastillaVerde {
      width: 20px;
      height: 5rem;
      border-radius: 15px;
      background-color: #78e289;
      position: relative;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
    
    .pastillaVerdechica {
      width: 10px;
      height: 3rem;
      border-radius: 15px;
      background-color: #78e289;
      position: relative;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;
    }
    .garficoScrollable{
        overflow: auto;
        position: relative;
        
    }
      .btn1{
        background-color: #4f7de8;
        border-radius: 15px;
        font-size: 4rem;
        color: white;
      }
      .btn2{
        background-color: #f86c4f;
        border-radius: 15px;
        font-size: 4rem;
        color: white;
      
      }
      .btn3{
        background-color: #8994a5;
        border-radius: 15px;
        font-size: 4rem;
        color: white;
      }
      .mini{
        font-style: unset;
        color: white;
      }
      .btnevento1{
        background-color: #84b1f8;
       font-size: large;
        width: 400px;
        height: 70px;
        box-shadow: none;
      }
      .btnevento2{
        background-color: 
        #be84f8;
        font-size: large;
        width: 400px;
        height: 70px;
        box-shadow: none;
      }
      
      .btnevento3{
        background-color: #f86c4f;
        font-size: large;
        width: 400px;
        height: 70px;
        box-shadow: none;
      }
      
      button .eventos{
        text-align: center;
        width: 400px;
        height: 100px;
        border-radius: 15px;
        box-shadow: none;
        color: white;
        background-color: #f86c4f;
      }
      .fechamobil{
        display: none;
      }
      .detallex{
        cursor: pointer;
        background-color: #4f7de8;
        border-radius: 15px;
        padding: 0.5rem;
        box-shadow: 5px 5px 2px 5px rgba(0, 0, 0, .1);
        display: inline-block;
      }
      ::-webkit-scrollbar {
        width: 1rem;               /* width of the entire scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        background: #4959b1;        /* color of the tracking area */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #f1f1f1;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 2px solid black;  /* creates padding around scroll thumb */
      }
      @media(max-width:1325px) {
       
       div.container{
        padding-left: 0px;
       }
       div{
        padding: none;
       }
      }