<body>
  <section class="">
    <div class="container text-center">
      <h1>Bienvenido </h1>
      <h1>NOMBRE DE USUARIO</h1>
      <h1>a las canchas el bicho</h1>
      <div class="row row-30 align-items-center">
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </section>
  <section>
    <br>
    <br>
    <br>

  </section>

  <section class="section section-lg">
    <div class="container text-center ">

      <div class="row">
        <div class="col-md-12  col-sm-5 col-lg-5 burbuja">

          <h2 class="pt-3"></h2><span class="h2">Hoy</span>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/canch1.png" style="border-radius: 15px;" class="d-block w-100" height="350" >
                <div class="carousel-caption d-none d-md-block">
                  <h5>CANCHA 1</h5>
                  <p>HORARIOS DISPONIBLES</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/canch1.png" style="border-radius: 15px;" class="d-block w-100" height="350">
                <div class="carousel-caption d-none d-md-block">
                  <h5>CANCHA 2</h5>
                  <p>HORARIOS DISPONIBLES</p>
                </div>
              </div>
              <div class="carousel-item" style="border-radius: 15px;">
                <img src="../../../assets/canch1.png" style="border-radius: 15px;" class="d-block w-100"height="350" >
                <div class="carousel-caption d-none d-md-block">
                  <h5>CANCHA 3</h5>
                  <p>HORARIOS DISPONIBLES</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        
        <div class="col-md-1">

        </div>
        <div class="col">

          <div class="col">
            <div class="row mt-3 mb-3">
              <button type="button" class="btn btn1 btn-lg ">Agendar</button>
            </div>
            <div class="row mt-3 mb-3">
              <button type="button" class="btn btn2 btn-lg ">Contacto</button>
            </div>
            <div class="row mt-3 mb-3">
              <button type="button" class="btn btn3 btn-lg ">Reglamento</button>
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

  <section>

    <div class="container text-center">
      <div class="row">
        <div class="col-md-5 burbuja ">
          <h1>Eventos</h1>
          <button type="button" class="btn btnevento1 btn-lg mt-2 mb-2">Inscribete Clase Principiantes</button>
          <button type="button" class="btn btnevento2 btn-lg mt-2 mb-2">Promocion Miercoles 22 Horas 
           <br> 20% de descuento</button>
          <button type="button" class="btn btnevento3 btn-lg mt-2 mb-2">Participa Torneo "memosaurio"</button>

        </div>
        <div class="col-1"></div>
        <div class="col-md-5 burbuja">
          <h1>Partidas de la escalerilla</h1>
          <div class="table-responsive-md">
            <div class="scrollable">
              <table class="table border-primary">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">Nombre</th>
                    <th scope="col">Hora</th>
                    <th scope="col">contacto</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-danger">
                    <td>Jose Antonio</td>
                    <td>09:00-10:00</td>
                    <td>whatsapp</td>
                    <td>pendiente</td>
                  </tr>
                  <tr class="table-danger">
                    <td>Alejandro elcapo</td>
                    <td>10:00-11:00</td>
                    <td>whatsapp</td>
                    <td>pendiente</td>
                  </tr>
                  <tr class="table-danger">
                    <td>Eduardo Lara</td>
                    <td>13:00-14:00</td>
                    <td>whatsapp</td>
                    <td>pendiente</td>
                  </tr>
                  <tr class="table-success">
                    <td>Guillermo Cardenas</td>
                    <td>16:00-17:00</td>
                    <td>whatsapp</td>
                    <td>completo</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section>

  <section class="section section-lg">
    <div class="container text-center " id="Servicios">

      <div class="row">
        <div class="col-md-5 burbuja">

          <h2 class="pt-3"></h2><span class="h2">Tus puntuaciones</span>
          <div class="table-responsive-md">
            <div class="scrollable">
              <table class="table border-primary">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">ACTIVIDAD</th>
                    <th scope="col">ENCARGADO</th>
                    <th scope="col">CANCHA</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">CUPOS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Campeonato sur</td>
                    <td>Pato</td>
                    <td>Cancha2</td>
                    <td>29/09-12:00</td>
                    <td>18/20</td>
                  </tr>
                  <tr>
                    <td>Clases</td>
                    <td>Nicolas</td>
                    <td>Cancha1</td>
                    <td>27/09-12:00</td>
                    <td>10/14</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5 burbuja">
          <h2 class="pt-3"></h2><span class="h2">HISTORIAL</span>
          <div class="table-responsive-md">
            <div class="scrollable">
              <table class="table border-primary">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">ACTIVIDAD</th>
                    <th scope="col">ENCARGADO</th>
                    <th scope="col">CANCHA</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">CUPOS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Campeonato sur</td>
                    <td>Pato</td>
                    <td>Cancha2</td>
                    <td>29/09-12:00</td>
                    <td>18/20</td>
                  </tr>
                  <tr>
                    <td>Clases</td>
                    <td>Nicolas</td>
                    <td>Cancha1</td>
                    <td>27/09-12:00</td>
                    <td>10/14</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<br>
<br>
  
  <footer>
    <!-- <div class="text-center"><img src="../../../assets/Logo-Botmila.png" alt="" width="500" height="150"
          class="d-inline-block align-text-top"></div> -->

  </footer>
</body>