body{
    background-color: #f5fffa;
    font-family: 'Montserrat', sans-serif;
    }
span {
    display: inline-flex;
    vertical-align: middle;
}
.scrollable{
    height: 400px;
    overflow: auto;
    position: relative;
    
}

.burbuja{
    
        background-color: white;
        margin-bottom: 20px;
        box-shadow: 10px 10px 2px 5px rgba(0, 0, 0,.1);
        border-radius: 15px;
}

