body{
    background-color: #f5fffa;
    font-family: 'Montserrat', sans-serif;
    height:100vh;
    }
    .burbuja{
        background-color: white;
        margin-bottom: 20px;
        box-shadow: 10px 10px 2px 5px rgba(0, 0, 0,.1);
        border-radius: 15px;
    }
    div{
      word-wrap: break-word;
    }
    span{
      vertical-align: inherit;

    }
    .scrollable{
        background-color: #f5fffa;
        height: auto;
        overflow: auto;
        position: relative;

    }
    button {
        font-size: large;
        text-align: center;
        border-radius: 15px;
        color: rgb(255, 255, 255);
        display: inline-block;
      }
      .btn1{
        background-color: #6d92e9;
      }
      .btn2{
        background-color: #f86c4f;
      }
      .mini{
        font-style: unset;
        color: white;
      }
section {
  color: #3b3636;
}
::-webkit-scrollbar {
  width: 1rem;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #4959b1;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid black;  /* creates padding around scroll thumb */
}
