
<div class="wrapper fadeInDown " style="background-image: url(../../../assets/Imagen4.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; height: 100%; padding-top: 80px;">
  
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    <img src="../../../assets/asistente.png" id="icon" alt="User Icon" />
  </div>

    <!-- Login Form -->
    <form (submit)="signin()">
      <input type="email" id="login" class="fadeIn second" placeholder="email@email.com" name="email" [(ngModel)]="user.email">
      <input type="password" id="password" class="fadeIn third" placeholder="contraseña" name="password" [(ngModel)]="user.password">
      <!-- <input type="text" class="fadeIn third" placeholder="rol" formControlName="roles"> -->
      <input type="submit" id="btn1" class="fadeIn fourth" value="Log In">
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover"  data-bs-toggle="modal" data-bs-target="#exampleModal">Olvido su contraseña?</a>
    </div>

 

  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese su email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  (ngSubmit)="onSubmit()" [formGroup]="passwordForm" class="row g-3 mb-3">
      <div class="mb-3">
          <div class="modal-body">
            <label for="email" class="form-label">E-mail</label>
            <input type="emailPersona" class="form-control"  name="emailPersona" formControlName="emailPersona">
          </div>
          <input type="hidden" name="mensaje" class="form-control"
             id="mensaje" formControlName="mensaje" [value]="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger text-uppercase">Enviar</button>
      </div>
    </form>
    </div>
  </div>
</div>
<script>
  $("#btn2").click(function(){
  // Swal.fire({
  // icon: 'error',
  // title: 'Oops...',
  // text: 'Something went wrong!',
  // footer: '<a href="">Why do I have this issue?</a>'
  alert("Mensaje con Alert");    
// })
});	
</script>
<app-footer></app-footer>