
<div class="wrapper fadeInDown " style="background-image: url(../../../assets/Imagen4.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; height: 100%;" >
  
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/asistente.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form (submit)="signin()">
      <input type="text" id="login" class="fadeIn second" placeholder="login" name="nameUser" [(ngModel)]="user.nameUser">
      <input type="password" id="password" class="fadeIn third" placeholder="password" name="password" [(ngModel)]="user.password">
      <!-- <input type="text" class="fadeIn third" placeholder="rol" formControlName="roles"> -->
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
<app-footer></app-footer>