<div id="app">
    <!-- <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a routerLink="/dashboard"><img src="../../../assets/Logo-Botmila.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active">
                        <a routerLink="/canchasGestion" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a routerLink="/canchasReserva" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Realizar Reserva</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a routerLink="/canchasCRUD" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>CanchasCrud</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div> -->
    <app-header></app-header>
    <div id="main">
        <div class="page-heading">
            <h3 class="text-center">Estado de Cancha 3</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Estado de Cancha 3</h4>
                                </div>
                                <div class="card-body" id="AAA">
                                    <div id="chart-profile-visit">
                                        <!--Formulario Agregar-->
                                        <div class="row align-items-start">
                                            <div class="co-5">
                                                <div class="col-5">
                                                    <div class="card mt-2">
                                                        <div class="card-header">
                                                            <h4 class="text-center">Lunes</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="chart-profile-visit">

                                                                <div class="">
                                                                    <div class="row justify-content-center">
                                                                        <div class="">
                                                                            <table
                                                                                class="table table-responsive table-bordered border-dark mt-2 ">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">
                                                                                            Horario
                                                                                        </th>
                                                                                        <th scope="col">Disponibilidad
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <ng-container
                                                                                    *ngFor="let horacancha of horariocanchaService.horacancha |ObjToArray">
                                                                                    <tbody class="text-center"
                                                                                        *ngFor=" let a of horacancha.canchas">
                                                                                        <tr
                                                                                            *ngIf="a.name === 'Cancha 1' ">

                                                                                            <td>{{horacancha.horario}}
                                                                                            </td>
                                                                                            <td
                                                                                                *ngIf="horacancha.disponibilidad==true">
                                                                                                Disponible</td>
                                                                                            <td
                                                                                                *ngIf="!horacancha.disponibilidad==true">
                                                                                                NO Disponible</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </ng-container>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>
</div>
