<body>
  <section class="section section-lg bg-gradient-animated">
    <div class="container">
      <div class="row row-30 align-items-center">
        <div class="col-md-6">

          <h1 style="max-width: 450px;">Administra tu negocio con inteligencia Artificial</h1>
          <p style="max-width: 600px;">
            <span class="h6">Aplicación que permite mantener una atención 24/7 del negocio con gestion y soluciones
              dinamicas.</span>
          </p>
          <div class="offset-md">
            <a class="btn btn-lg btn-dark btn-round btn-anis mb-2" href="#"> <span
                class="btn-icon int-primary novi-icon"></span><span>Información</span></a>
              </div>
        </div>
        <div class="col-md-6">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube-nocookie.com/embed/x9MfTYpARx8" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
        </div>
        <div id="fb-root"></div>
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
    </div>
    </div>

  </section>

  <section class="section section-lg">
    <div class="container text-center" id="Servicios">
      <h1>I+D+ / UX enfocada en clientes con tecnología de BOT's integrando soluciones del negocio</h1>
      <p>
        <span class="h6">Caracteristicas que permiten</span>
      </p>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/Botmila-MARKET.png" alt="" width="150" height="150" class="d-inline-block align-text-top"
            routerLink="/kbot-market">
          <h2 class="pt-3"></h2><span class="h2">K-BOTS MARKET</span>
          <p>
            <span class="h6">Asistente virtual desarrollado con inteligencia artificial, que tiene la capacidad de gestionar la venta de
              diferentes productos, además de responder las consultas de los clientes, acompañándolo a este hasta el pago
              de su pedido. Así apoyamos a la empresa en aumentar sustancialmente la toma de pedidos.</span>
          </p>

        </div>
        <div class="col-md-4">
          <img src="assets/Botmila-AGENDA.png" alt="" width="150" height="150" class="d-inline-block align-text-top"
            routerLink="/kbot-agenda">
          <h2 class="pt-3">K-BOTS AGENDA</h2>
          <p> Sistema Cloud que permite liberar y reservar horas para los diferentes servicios de agendamiento, como
            centros médicos, spa, hotelerías y centros deportivos. Siendo un complemento estratégico en la industria.
          </p>
        </div>
        <div class="col-md-3">
          <img src="assets/Botmila-MEDIDA.png" alt="" width="150" height="150" class="d-inline-block align-text-top"
            routerLink="/kbot-personalizado">
          <h2 class="pt-3">CHATBOT A MEDIDA</h2>
          <p>Nuestra tecnología permite adaptarnos a diferentes modelos de negocios, que permitan poner al cliente en el
            centro de nuestro quehacer, velando por una experiencia en cada punto de contacto.</p>
        </div>
      </div>

    </div>
  </section>

  <section  class="section section-lg bg-gradient-animated">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Planes</h1>
      <p class="fs-5 text-muted">Una vez seleccionado tu Bot deberas seleccionar un plan de suscripcion</p>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Basico</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$50.000<small class="text-muted fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Plataforma de gestion</li>
                <li>Bot de Facebook</li><br>
                <br><br>
                <br>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Comenzar</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$55.000<small class="text-muted fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Plataforma de gestion</li>
                <li>Bot de Facebook</li>
                <li>Bot de instagram</li>
                <li>Soporte</li>
                <br>
                <br>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Empresario</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$75.000<small class="text-muted fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Plataforma de gestion</li>
                <li>Clases y Campeonatos</li>
                <li>Bot de Facebook</li>
                <li>Bot de instagram</li>
                <li>Bot Publicidad</li>
                <li>Soporte</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="py-5 bg-light">
    <div class="container center">
      <div class="row">
        <div class="col-md-6" id="Nosotros">
          <h1 class="pb-3 text-center">QUIENES SOMOS</h1>
          <h3>NUESTRA HISTORIA</h3>
          <p class="card-text" style="text-align: justify;">
            Somos una empresa dedicada a Investigación y Desarrollo (I+D) orientada en crear productos y servicios que
            entreguen valor a nuestros clientes.
          </p>
          <p class="card-text" style="text-align: justify;">
            Nuestra visión es entregar una experiencia memorable a cada cliente, integrando tecnología de vanguardia,
            que permitan el crecimiento constante en cada modelo de negocio y de esta manera, posicionarnos como la
            empresa líder en el mercado de asistentes virtual y apoyo a la PYME.
          </p>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
          data-aos="fade-up">

        </div>

      </div>
    </div>

  </section>


  <app-footer>

  </app-footer>

</body>
