<body>
  <section>
    <div class="container">
      <h1>NOMBRE DE TORNEO</h1>
      <div class="row row-30 align-items-center">
        <div class="col-md-6">
          <h5>29/10/2022 10:30AM</h5>
        </div>
        <div class="col-md-6">
          <h1>logo</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container ">

      <div class="row">
        <div class="burbuja">
          <div class="row text-center">
            <span class="h2">DETALLES PUBLICADOS</span>
          </div>
          <div class="row card-text">
            <div class="col-sm-2 ">
              <span class="h5">Inicio del Torneo:</span>
            </div>
            <div class="col-sm-4 mb-3">
              <span class="h6">El Torneo comienza el 29/10/2022 10:30AM </span>
            </div>
            <div class="col-sm-2">
              <span class="h5">Lugar:</span>
            </div>
            <div class="col-sm-4 mb-3">
              <span class="h6">El Torneo se jugara en el recinto [NOMBRE DEL CENTRO DEPORTIVO] san carlos calle falsa 123 </span>
            </div>
            <div class="col-sm-2 mb-3">
              <span class="h5">Inicio de inscripciones:</span>
            </div>
            <div class="col-sm-4 mb-3">
              <span class="h6">20 de octubre de 2022 14:30</span>
            </div>
            <div class="col-sm-2 mb-3">
              <span class="h5">Fin de Inscripciones:</span>
            </div>
            <div class="col-sm-4 mb-3">
              <span class="h6">26 de octubre de 2022 14:30</span>
            </div>
            <div class="col-sm-2 mb-3">
              <span class="h5">Categoria del torneo:</span>
            </div>
            <div class="col-sm-4 mb-3">
              <span class="h6">6tha mixto</span>
            </div>
            <div class="col-sm-2 mb-3">
              <span class="h5">Limite de parejas:</span>
            </div>
            <div class="col-sm-4 mb-3">
              <span class="h6">8</span>
            </div>
            <div class="col-sm-2">
              <span class="h5">Inscripcion por pareja:</span>
            </div>
            <div class="col-sm-4 mb-3">
              <span class="h6">La inscripcion debe ser realizada una sola ves por pareja y por el capitan de la misma</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="section section-lg ">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center ">
      <h1 class="display-4 fw-normal">Parejas Inscritas</h1>
    </div>
    <div class="container burbuja">
      <div class="d-flex justify-content-end">
        <button type="" class="btn1 mb-1 mt-1 float-right" >lanzar emparejamiento</button>
      </div>
      <div class="table-responsive-md">
        <div class="scrollable">
          <table class="table border-primary">
            <thead>
              <tr class="table-primary">
                <th scope="col">Nombre Capitan</th>
                <th scope="col">Nombre Pareja</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Guillermo parra</td>
                <td>Matias Guerrero</td>
                <td>Pagado</td>
              </tr>
              <tr>
                <td>Nicolas Page</td>
                <td>Jeremy A</td>
                <td>Pagado</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>
</body>