<p-sidebar [(visible)]="display" position="left" [transitionOptions]="'500ms'">
  <!-- moderador -->
  <div *ngIf="jk == '1'">
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/dash-boardAdm">
      <span>
        <span class="material-icons mr-2">
          home
        </span>
        <span>Inicio</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/calendario">
      <span>
        <span class="material-icons-round mr-2">
          calendar_today
        </span>
        <span>Vista Semana</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/canchas-crud">
      <span>
        <span class="material-icons-round  mr-2"> settings </span>
        <span>Ajustes canchas</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-sub">
      <span>
        <span class="material-icons-round  mr-2"> sports_tennis </span>
        <span>Ajustes usuarios</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-torneo">
      <span>
        <span class="material-icons-round  mr-2"> emoji_events </span>
        <span>Torneos</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/historial">
      <span class="sidebar-link">
        <span class="material-icons-round  mr-2"> manage_search </span>
        <span>Historial de reservas</span>
      </span>
    </div>
  </div>
  <!-- subadmin -->
  <div *ngIf="jk == '2'">
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/dash-boardSub">
      <span class="sidebar-link">
        <span class="material-icons-round mr-2">
          home
        </span>
        <span>Inicio</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/calendario">
      <span class="sidebar-link">
        <span class="material-icons-round mr-2">
          calendar_today
        </span>
        <span>Vista Semana</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/canchas-crud">
      <span class="sidebar-link">
        <span class="material-icons-round  mr-2"> settings </span>
        <span>Ajustes canchas</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-sub">
      <span class="sidebar-link">
        <span class="material-icons-round mr-2"> sports_tennis </span>
        <span>Ajustes usuarios</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-torneo">
      <span class="sidebar-link">
        <span class="material-icons-outlined  mr-2"> emoji_events </span>
        <span>Torneos</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/historial">
      <span class="sidebar-link">
        <span class="material-icons-round  mr-2"> manage_search </span>
        <span>Historial de reservas</span>
      </span>
    </div>
  </div>

  <!-- usuario -->
  <div *ngIf="jk == '3'">
    <div class="sidebar-item a" (click)="display = false" routerLink="/canchaselbicho/dashboarduser">
      <span class="sidebar-link">
        <span class="material-icons mr-2">
          home
        </span>
        <span>Inicio</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/calendario">
      <span class="sidebar-link">
        <span class="material-icons-round mr-2">
          calendar_today
        </span>
        <span>Vista Semana</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-torneo">
      <span>
        <span class="material-icons-round  mr-2"> emoji_events </span>
        <span>Torneos</span>
      </span>

    </div>
  </div>
  <div *ngIf="jk == '4'">
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/organizacion">
      <span class="sidebar-link">
        <span class="material-icons mr-2">
          home
        </span>
        <span>Inicio</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/users-admin">
      <span class="sidebar-link">
        <span class="material-icons-round mr-2">
          calendar_today
        </span>
        <span>Usuarios</span>
      </span>
    </div>

  </div>


  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-danger ml-2" (click)="apiService.logout()" (click)="display = false">
      <span class="material-icons-outlined mr-2"> logout </span>
      Cerrar Sesion
    </button></ng-template>
</p-sidebar>
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">Admin Header</a>
      <button (click)=toggleDisplayDivIf() class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
 
      <div [ngClass]="!isShowDivIf ? 'responsive__active' : 'responsive__inactive'" class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li (click)=toggleDisplayDivIf()  class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./home">Home
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./about">About</a>
              </li>
              <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./services">Services</a>
              </li>
              <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./contact">Contact</a>
              </li>
              
          </ul>
      </div>
  </div>
</nav> -->
<p-toolbar>
  <ng-container *ngIf="!apiService.loggedIn(); else loggedIn">
    <div class="p-toolbar-group-start">
      <img src="../../../../assets/botpadelLogo.jpg" alt="" width="250" height="50" routerLink="/"
        style="cursor: pointer;" />
    </div>


    <div class="p-toolbar-group-end">
      <div class="contenedor-flexbox">
        <div>
          <span class="nav-link active menu" aria-current="page" routerLink="/auth/login"
            routerLinkActive="active">Ingresar</span>
        </div>
        <div>
          <a href="#Servicios"> <span class="nav-link active menu" aria-current="page">Servicios</span></a>

        </div>
        <div>
          <a href="#Nosotros">
            <span class="nav-link active menu" aria-current="page">Quienes somos</span>
          </a>

        </div>
        <div>
          <a  href="#Contacto"><span class="nav-link active menu" aria-current="page">Contacto</span></a>
          
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loggedIn>
    <div class="p-toolbar-group-left">
      <button pButton (click)="display = true" class="p-button p-button-lg p-button-success" icon="pi pi-bars"></button>
    </div>
    <img src="../../../../assets/botpadelLogo.jpg" alt="" width="250" height="50" routerLink="/"
      style="cursor: pointer;" />
    <div class="p-toolbar-group-right"></div>
  </ng-template>
</p-toolbar>



<router-outlet></router-outlet>