<p-sidebar [(visible)]="display" position="left" [transitionOptions]="'500ms'">
  <!-- moderador -->
  <div *ngIf="jk == '1'">
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/dash-boardAdm">
      <span>
        <span class="material-icons mr-2">
          home
          </span>
        <span>Inicio</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/calendario">
      <span>
        <span class="material-icons mr-2">
          calendar_today
        </span>
        <span>Vista Semana</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/canchas-crud">
      <span>
        <span class="material-icons  mr-2"> settings </span>
        <span>Ajustes canchas</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-sub">
      <span>
        <span class="material-icons  mr-2"> sports_tennis </span>
        <span>Ajustes usuarios</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-torneo">
      <span>
        <span class="material-icons  mr-2"> emoji_events </span>
        <span>Torneos</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/historial">
      <span class="sidebar-link">
        <span class="material-icons  mr-2"> manage_search </span>
        <span>Historial de reservas</span>
      </span>
    </div>
  </div>
  <!-- subadmin -->
  <div *ngIf="jk == '2'">
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/dash-boardSub">
      <span class="sidebar-link">
        <span class="material-icons-round mr-2">
          home
          </span>
        <span>Inicio</span>
      </span>
    </div>

    <div class="sidebar-item a " (click)="display = false" routerLink="/mod/calendario">
      <span class="sidebar-link">

        <span class="material-icons-outlined mr-2">
          calendar_today
        </span>
        <span>Vista Semana</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/canchas-crud">
      <span class="sidebar-link">
        <span class="material-icons  mr-2"> settings </span>
        <span>Ajustes canchas</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-sub">
      <span class="sidebar-link">
        <span class="material-icons-round mr-2"> sports_tennis </span>
        <span>Ajustes usuarios</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-torneo">
      <span class="sidebar-link">
        <span class="material-icons-outlined  mr-2"> emoji_events </span>
        <span>Torneos</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/historial">
      <span class="sidebar-link">
        <span class="material-icons-round  mr-2"> manage_search </span>
        <span>Historial de reservas</span>
      </span>
    </div>
  </div>

  <!-- usuario -->
  <div *ngIf="jk == '3'">
    <div class="sidebar-item a" (click)="display = false" routerLink="/canchaselbicho/dashboarduser">
      <span class="sidebar-link">
        <span class="material-icons mr-2">
          home
          </span>
        <span>Inicio</span>
      </span>
    </div>

    <div class="sidebar-item a" (click)="display = false" routerLink="/calendario">
      <span class="sidebar-link">
        <span class="material-icons mr-2">
          calendar_today
        </span>
        <span>Vista Semana</span>
      </span>
    </div>
    <div class="sidebar-item a" (click)="display = false" routerLink="/mod/crud-torneo">
      <span>
        <span class="material-icons  mr-2"> emoji_events </span>
        <span>Torneos</span>
      </span>
    </div>
  </div>



  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-danger ml-2" (click)="apiService.logout()" (click)="display = false">
      <span class="material-icons-outlined mr-2"> logout </span>
      Cerrar Sesion
    </button></ng-template>
</p-sidebar>

<p-toolbar styleClass="toolbarS">
  <ng-container *ngIf="!apiService.loggedIn(); else loggedIn">
    <img src="assets/Logo-Botmila.png" alt="" width="250" height="50" />
    <div class="p-toolbar-group-right">
      <div class="nav-item">
        <span class="nav-link active" style="color: black; font-size: large;  font-weight: bold;" aria-current="page"
          routerLink="/auth/login" routerLinkActive="active">Ingresar</span>
      </div>
      <div class="nav-item">
        <span class="nav-link active" style="color: black; font-size: large;  font-weight: bold;" aria-current="page"
          href="#Servicios">Servicios</span>
      </div>
      <div class="nav-item">
        <span class="nav-link active" style="color: black; font-size: large;  font-weight: bold;" aria-current="page"
          href="#Nosotros">Quienes somos</span>
      </div>
      <div class="nav-item">
        <span class="nav-link active" style="color: black; font-size: large;  font-weight: bold;" aria-current="page"
          href="#Contacto">Contacto</span>
      </div>
    </div>
  </ng-container>

  <ng-template #loggedIn>
    <div class="p-toolbar-group-left">
      <button pButton (click)="display = true" class="p-button p-button-lg p-button-success" icon="pi pi-bars"></button>
    </div>
    <img src="assets/Logo-Botmila.png" alt="" width="250" height="50" />
    <div class="p-toolbar-group-right"></div>
  </ng-template>
</p-toolbar>

<router-outlet></router-outlet>