
/* Sidebar Styles */
.sidebar-item{
  border-radius: 15px;
  margin: 20px;
  list-style: none;
  text-indent: 10px;
  line-height: 20px;

}
.nav-item{
  cursor: pointer;
}
span {
  vertical-align: middle;
}

.a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 65px;
  box-sizing: border-box;
  transition: .4s;
}
.a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: #edeef2;
  border-radius: 15px;
  cursor: pointer;
}
.a:hover {
  padding-left: 1px;
}

 .a:active,
 .a:focus {
  background-color: #007bff;
  border-radius: 15px;

 }

   :host ::ng-deep .p-toolbar {

    margin: 0 auto;
    background-color: #ffffff;
} 
