<body>
    <section>
        <br>
        <br>
        <h1 class="text-center">GESTION DE RESERVAS</h1>
        <br>
        <br>
       
        <div class="container text-center">
            <div class="col-lg-12  burbuja">
                <h3 class="text-center">Datos de la reserva</h3>
                <div class="">
                    <form (ngSubmit)="onSubmit()" [formGroup]="reservaForm" class="row g-3 mb-3">

                        <input type="hidden" name="cancha" class="form-control" id="cancha" formControlName="cancha"
                            [value]="cosa">

                        <div class="col-md-6">
                            <label for="input" class="form-label">Rut
                                Del
                                Cliente</label>
                            <input type="text" class="form-control" name="rut" required formControlName="rut">
                            <div *ngIf="reservaForm.get('rut')?.touched && reservaForm.get('rut')?.errors?.['required']"
                                class="alert alert-danger">este campo es requerido
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label for="inputOcupacion" class="form-label">Seleccione horarios
                                Disponibles</label>
                            <select class="form-select" aria-label="Default select example" name="horascanchas"
                                formControlName="horascanchas">
                                <ng-container *ngFor="let cargamasi of cargamasivaService.cargamasi|ObjToArray">
                                    <ng-container *ngFor="let jaja of cargamasi.cancha">

                                        <option *ngIf="jaja._id === cosa " [ngValue]="cargamasi._id">
                                            {{cargamasi.fecha}}
                                            {{cargamasi.dia}}
                                            {{cargamasi.horario}}
                                        </option>
                                    </ng-container>
                                </ng-container>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary text-uppercase "
                                [disabled]="reservaForm.invalid">Agendar
                                Hora</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
    <section>
        <br>
    </section>
    <section>
        <div class="container text-center">
            <div class="col-lg-12  burbuja">

                <h1>horas ya agendadas</h1>
                <div class="table-responsive-md">
                    <div class="scrollable">
                        <table class="table table-bordered  table-hover text-center">
                            <thead>
                                <tr class="table-primary">
                                    <th>
                                        Horario
                                    </th>
                                    <th>cancha
                                    </th>
                                    <th>dia</th>
                                    <th>rut</th>
                                    <th>opciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center"
                                *ngFor="let horatomada of horastomadasService.horatomada |ObjToArray">
                                <tr *ngIf="horatomada.estado==true">
                                    <td *ngFor="let a of horatomada.horascanchas">{{a.horario}}
                                    </td>
                                    <td *ngFor="let a of horatomada.cancha">{{a.name}}</td>
                                    <td *ngFor="let x of horatomada.horascanchas">{{x.dia}}</td>
                                    <td>{{horatomada.rut}}</td>
                                    <td class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <button type="button" class="btn btn-danger active"
                                            (click)="deleteHoraTomada(horatomada._id)">eliminar</button>

                                        <button type="button" class="btn btn-success active">Editar</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>