<div id="">
    <div id="">
        <div class="page-heading">
            <h3 class="text-center">GESTION DE RESERVAS</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col">

                    <div class="row  justify-content-center">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">Horarios Disponibles de Canchas</h4>
                                </div>
                                <div class="">
                                    <div class="row">


                                        <div class="col-lg-6 col-sm-6">
                                            <div class="card mt-2">
                                                <div class="card-header">
                                                    <h4 class="text-center">Reservar cancha</h4>
                                                </div>
                                                <div class="card-body">

                                                    <!--Formulario Agregar-->
                                                    <div>
                                                        <div class="">
                                                            <form #reservaForm="ngForm"
                                                                (ngSubmit)="addReserva(reservaForm)"
                                                                class="row g-3 mb-3">
                                                                <div class="col-md-6">
                                                                    <label for="input" class="form-label">Rut
                                                                        Del
                                                                        Cliente</label>
                                                                    <input type="text" class="form-control" name="rut"
                                                                        [(ngModel)]="horastomadasService.selectedHorasTomadas.rut">
                                                                </div>

                                                                <div class="col-lg-4 col-md-6">
                                                                    <label for="inputOcupacion"
                                                                        class="form-label">Seleccione Cancha
                                                                        para reservar</label>
                                                                    <select class="form-select"
                                                                        aria-label="Default select example"
                                                                        name="cancha"
                                                                        [(ngModel)]="horastomadasService.selectedHorasTomadas.horascanchas">
                                                                        <option
                                                                            *ngFor="let cancha of canchasService.cancha | ObjToArray"
                                                                            [ngValue]="cancha._id">{{cancha.name}}
                                                                        </option>

                                                                    </select>
                                                                </div>
                                                             


                                                                <div class="text-center">
                                                                    <button type="submit"
                                                                        class="btn btn-danger text-uppercase disabled">Agendar
                                                                        Hora</button>
                                                                </div>

                                                            </form>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="table-responsive-md">
                                            <div class="scrollable">
                                                <table class="table table-bordered border-dark table-hover text-center">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">
                                                                Horario
                                                            </th>
                                                            <th scope="col">cancha
                                                            </th>
                                                            <th>rut</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center"
                                                        *ngFor="let horatomada of horastomadasService.horatomada |ObjToArray">
                                                        <td *ngFor="let a of horatomada.horascanchas">{{a.horario}}
                                                        </td>
                                                        <td *ngFor="let a of horatomada.cancha">{{a.name}}</td>
                                                        <td>{{horatomada.rut}}</td>
                                                        <td class="btn-group" role="group"
                                                            aria-label="Basic mixed styles example">
                                                            <button type="button" class="btn btn-danger active"
                                                                (click)="deleteHoraTomada(horatomada._id)">eliminar</button>

                                                            <button type="button"
                                                                class="btn btn-success active">Editar</button>
                                                        </td>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>



        
    </div>

</div>
