
.bg-gradient-animated {
    background-size: 400% auto;
    background-position: 100% 50%;
    background-image: linear-gradient(90deg, #b2edff 0%, #e9dbff 25%, #c1ffe1 50%, #b2edff 75%, #e9dbff 100%);
    animation: gradientMotion 20s infinite linear
  }
  
  .bg-gradient-shamrock-blue {
    background-image: linear-gradient(45deg, #43DD93 0%, #28A8FF 100%)
  }
  
  .bg-gradient-blue-violet {
    background-image: linear-gradient(46.03deg, #28A8FF -1.86%, #7D2EFF 100%)
  }
  
  .bg-gradient-electric-violet {
    background-image: linear-gradient(225deg, #C728FF 0%, #7D2EFF 100%)
  }
  
  .bg-gradient-dark-violet {
    background-image: linear-gradient(-8.15deg, #6b39bd 4.67%, #171724 49.99%)
  }
  @keyframes gradientMotion {
    0% {
        background-position-x: 100%
    }
    50% {
      background-position-x: 50%
  }
    100% {
        background-position-x: 0
    }
  }
  *,
  *::before,
  *::after {
      box-sizing: border-box
  }
  
  body {
      margin: 0;
      font-family: "Heebo", sans-serif;
      font-size: calc(1.25625rem + .075vw);
      font-weight: 300;
      line-height: 1.54;
      color: #5d5d66;
      background-color: #fff;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  }
  
  @media (min-width: 1200px) {
      body {
          font-size: 1.3125rem
      }
  }
  
  hr {
      margin: 0 0;
      color: inherit;
      background-color: currentColor;
      border: 0;
      opacity: 1
  }
  
  hr:not([size]) {
      height: 2px
  }
  
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
      margin-top: 0;
      margin-bottom: .5rem;
      font-weight: 400;
      line-height: 1.2;
      color: #171724
  }
  
  h1,
  .h1 {
      font-size: calc(1.5375rem + 3.45vw)
  }
  
  @media (min-width: 1200px) {
  
      h1,
      .h1 {
          font-size: 4.125rem
      }
  }
  
  h2,
  .h2 {
      font-size: calc(1.4125rem + 1.95vw)
  }
  
  @media (min-width: 1200px) {
  
      h2,
      .h2 {
          font-size: 2.875rem
      }
  }
  
  h3,
  .h3 {
      font-size: calc(1.35rem + 1.2vw)
  }
  
  @media (min-width: 1200px) {
  
      h3,
      .h3 {
          font-size: 2.25rem
      }
  }
  
  h4,
  .h4 {
      font-size: calc(1.3125rem + .75vw)
  }
  
  @media (min-width: 1200px) {
  
      h4,
      .h4 {
          font-size: 1.875rem
      }
  }
  
  h5,
  .h5 {
      font-size: calc(1.275rem + .3vw)
  }
  
  @media (min-width: 1200px) {
  
      h5,
      .h5 {
          font-size: 1.5rem
      }
  }
  
  h6,
  .h6 {
      font-size: calc(1.25625rem + .075vw)
  }
  
  @media (min-width: 1200px) {
  
      h6,
      .h6 {
          font-size: 1.3125rem
      }
  }
  
  p {
      margin-top: 0;
      margin-bottom: 1rem
  }
  h1
  ,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
      margin: 0
  }
  
  h1 a,
  .h1 a,
  h2 a,
  .h2 a,
  h3 a,
  .h3 a,
  h4 a,
  .h4 a,
  h5 a,
  .h5 a,
  h6 a,
  .h6 a,
  .h1 a,
  .h2 a,
  .h3 a,
  .h4 a,
  .h5 a,
  .h6 a {
      color: inherit
  }
  
  h1 a:hover,
  .h1 a:hover,
  h2 a:hover,
  .h2 a:hover,
  h3 a:hover,
  .h3 a:hover,
  h4 a:hover,
  .h4 a:hover,
  h5 a:hover,
  .h5 a:hover,
  h6 a:hover,
  .h6 a:hover,
  .h1 a:hover,
  .h2 a:hover,
  .h3 a:hover,
  .h4 a:hover,
  .h5 a:hover,
  .h6 a:hover {
      color: #31c77f
  }
  
  h1,
  .h1,
  .h1 {
      font-size: 28px;
      line-height: 1.2
  }
  
  @media (min-width: 768px) {
  
      h1,
      .h1,
      .h1 {
          font-size: 32px
      }
  }
  
  @media (min-width: 992px) {
  
      h1,
      .h1,
      .h1 {
          font-size: 46px;
          line-height: 1.2
      }
  }
  
  @media (min-width: 1600px) {
  
      h1,
      .h1,
      .h1 {
          font-size: 4.125rem
      }
  }
  
  h2,
  .h2,
  .h2 {
      font-size: 24px;
      line-height: 1.2
  }
  
  @media (min-width: 768px) {
  
      h2,
      .h2,
      .h2 {
          font-size: 26px
      }
  }
  
  @media (min-width: 992px) {
  
      h2,
      .h2,
      .h2 {
          font-size: 36px;
          line-height: 1.2
      }
  }
  
  @media (min-width: 1600px) {
  
      h2,
      .h2,
      .h2 {
          font-size: 2.875rem
      }
  }
  
  h3,
  .h3,
  .h3 {
      font-size: 21px;
      line-height: 1.25
  }
  
  @media (min-width: 768px) {
  
      h3,
      .h3,
      .h3 {
          font-size: 24px
      }
  }
  
  @media (min-width: 992px) {
  
      h3,
      .h3,
      .h3 {
          font-size: 30px;
          line-height: 1.3
      }
  }
  
  @media (min-width: 1600px) {
  
      h3,
      .h3,
      .h3 {
          font-size: 2.25rem
      }
  }
  
  h4,
  .h4,
  .h4 {
      font-size: 20px;
      line-height: 1.4
  }
  
  @media (min-width: 768px) {
  
      h4,
      .h4,
      .h4 {
          font-size: 21px
      }
  }
  
  @media (min-width: 992px) {
  
      h4,
      .h4,
      .h4 {
          font-size: 26px
      }
  }
  
  @media (min-width: 1600px) {
  
      h4,
      .h4,
      .h4 {
          font-size: 1.875rem
      }
  }
  
  h5,
  .h5,
  .h5 {
      font-size: 19px;
      line-height: 1.35
  }
  
  @media (min-width: 992px) {
  
      h5,
      .h5,
      .h5 {
          font-size: 1.5rem;
          line-height: 1.54
      }
  }
  
  h6,
  .h6,
  .h6 {
      font-size: 18px;
      line-height: 1.54
  }
  
  @media (min-width: 992px) {
  
      h6,
      .h6,
      .h6 {
          font-size: 1.3125rem
      }
  }
  
  a {
      transition: color .2s
  }
  offset-xs,
  .offset-sm,
  .offset-md,
  .offset-lg,
  .offset-xl,
  .offset-xxl {
      margin-top: 1.875rem
  }
  
  @media (min-width: 576px) {
  
      .offset-sm,
      .offset-md,
      .offset-lg,
      .offset-xl,
      .offset-xxl {
          margin-top: 2.5rem
      }
  }
  
  @media (min-width: 768px) {
      .offset-md {
          margin-top: 3.125rem
      }
  
      .offset-lg {
          margin-top: 3.4375rem
      }
  
      .offset-xl,
      .offset-xxl {
          margin-top: 4.0625rem
      }
  }
  
  @media (min-width: 1200px) {
      .offset-lg {
          margin-top: 4.375rem
      }
  
      .offset-xl,
      .offset-xxl {
          margin-top: 5.3125rem
      }
  }
  
  @media (min-width: 1600px) {
      .offset-xxl {
          margin-top: 6.25rem
      }
  }
  .btn-round{
    border-radius: 40px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    font-weight: 700;
    line-height: 1.47;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    padding: 0.6875rem 1.75rem;
    font-size: 1.0625rem;
   
  }
  .section-sm,
  .section-md,
  .section-lg,
  .section-xl,
  .section-xxl {
      padding: 50px 0
  }
  @media (min-width: 768px) {
  
    .section-md,
    .section-lg,
    .section-xl,
    .section-xxl {
        padding: 60px 0
    }
  }
  
  @media (min-width: 992px) {
    .section-md {
        padding: 80px 0
    }
  
    .section-lg,
    .section-xl,
    .section-xxl {
        padding: 100px 0
    }
  }
  
  @media (min-width: 1200px) {
    .section-md {
        padding: 100px 0
    }
  
    .section-lg,
    .section-xl,
    .section-xxl {
        padding: 150px 0
    }
  }
  
  @media (min-width: 1600px) {
    .section-xl {
        padding: 200px 0
    }
  
    .section-xxl {
        padding: 280px 0
    }
  
    .section-xxl-100vh {
        min-height: 100vh
    }
  }
  
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1.25rem);
    padding-left: var(--bs-gutter-x, 1.25rem);
    margin-right: auto;
    margin-left: auto
  }
  
  @media (min-width: 576px) {
  
    .container,
    .container-xs,
    .container-sm {
        max-width: 540px
    }
  }
  
  @media (min-width: 768px) {
  
    .container,
    .container-xs,
    .container-sm,
    .container-md {
        max-width: 720px
    }
  }
  
  @media (min-width: 992px) {
  
    .container,
    .container-xs,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px
    }
  }
  
  @media (min-width: 1200px) {
  
    .container,
    .container-xs,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1200px
    }
  }
  
  @media (min-width: 1600px) {
  
    .container,
    .container-xs,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1320px
    }
  }
  .pricing-header {
    max-width: 700px;
  }
  