<body>
    <section class="section section-lg bg-gradient-animated">
        <div class="container">
            <div class="row row-30 align-items-center">
                <div class="col-md-6">

                    <h1 style="max-width: 450px;">Canchas el bicho chillan</h1>
                    <p style="max-width: 600px;">
                        <span class="h6">El sitio ideal para practicar tu deporte favorito</span>
                    </p>
                    <div class="offset-md">
                        <a class="btn btn-lg btn-dark btn-round btn-anis mb-2" href="#"> <span
                                class="btn-icon int-primary novi-icon"></span><span>Información</span></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ratio ratio-16x9">
                        <img src="../../../../assets/canch1.png" alt="" width="150" height="150"
                        class="d-inline-block align-text-top" >
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section section-lg">
        <div class="container text-center" id="Servicios">
            <h1>estamos ubicados a pocas cuadras del centro encontraras nuestras instalaciones</h1>
            <p>
                <span class="h6">Caracteristicas que permiten</span>
            </p>
            <div class="row">
                <div class="col-md-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d400.37561317175056!2d-72.09915749417141!3d-36.60219090089313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scl!4v1663098691497!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div class="col-md-4">
                  
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Donde-Estamos.png" alt="" width="150" height="150"
                        class="d-inline-block align-text-top">
                    <h2 class="pt-3">Contamos con amplio estacionamiento</h2>
                   
                </div>
            </div>

        </div>
    </section>

    <section class="section section-lg bg-gradient-animated">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Se socio de nuestro club</h1>
            <p class="fs-5 text-muted">Tambien puedes unirte a nuestro club con una suscripcion mensual</p>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Amateur</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$10.000<small
                                    class="text-muted fw-light">/mes</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>acumulas puntos raqueta</li>
                                <li>jugito cada viernes</li><br>
                                <br><br>
                                <br>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Comenzar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Senior</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$25.000<small
                                    class="text-muted fw-light">/mes</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>acumulas puntos raqueta</li>
                                <li>jugito cada viernes</li>
                                <li>arriendo acumulativo</li>
                                <li>ranking campeonato</li>
                                <br>
                                <br>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-white bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Profesional</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$45.000<small
                                    class="text-muted fw-light">/mes</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>acumulas puntos raqueta</li>
                                <li>jugito cada viernes</li>
                                <li>arriendo acumulativo</li>
                                <li>ranking campeonato</li>
                                <li>paleteo cuantico</li>
                                <li>reserva exclusiva domingos</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py-5 bg-light">
        <div class="container center">
            <div class="row">
                <div class="col-md-6" id="Nosotros">
                    <h1 class="pb-3 text-center">HOGAR DEL CAMPEON SUDAMERICANO</h1>
                    <h3>GUILLERMO PARRA</h3>
                    <p class="card-text" style="text-align: justify;">
                        En nuestro club guillermo comenzo este maravilloso viaje deportivo, desde muy pequeño participo raqueteando con nuestros profesores.
                    </p>
                    <p class="card-text" style="text-align: justify;">
                       Luego de ganar el nacionnal el 2010 guillermo dono todo su premio a nuestra casa.
                       Lo que nos permitio creecer y apliar nuestras canchas para asi poder seguir maravillando
                       a jovenes en el hermoso mundo del tenis chikito.
                    </p>
                </div>
                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
                    data-aos="fade-up">
                  <img src="../../../../assets/memo.jpeg" alt="" width="550" height="650"
                        class="d-inline-block align-text-top" routerLink="/kbot-personalizado">
                </div>

            </div>
        </div>

    </section>

    <app-footer>

    </app-footer>

</body>