body {
  background-color: #f5fffa;
  font-family: 'Montserrat', sans-serif;
}
h2, h4{
color: white!important;
}
.burbuja {

  background-color: white;
  margin-bottom: 20px;
  box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, .1);
  border-radius: 15px;
}

.fecha{
  border-radius: 15px;
  background-color: white;
  border-top: #cfe1ff solid 1rem;
  height: 7rem;
  width: 8em;
  margin-top: 1rem;
}
.detalle{
  border-radius: 15px;
  background-color: white;
  border-left: #78e289 solid 1rem;
  border-radius: 15px;
  margin-left: 1rem;
  margin-top: 1rem;
}
.detallePasado{
  border-radius: 15px;
  background-color: white;
  border-left: #fc626a solid 1rem;
  border-radius: 15px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.ranking{
 background-color:  #cfe1ff;
}
.circulo{
  border: solid #ecec36;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.banner{
  width: 6rem; 
  height: 1rem; 
  border-radius: 15px;
  background: #ecec36;
  position: absolute;
  top: 80%;
  left: 0%;
}
.pastillaRoja{
  width: 20px;
  height: 5rem;
  border-radius: 15px;
  background-color: #fc626a;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  
}
.pastillaVerde{
  width: 20px;
  height: 5rem;
  border-radius: 15px;
  background-color: #78e289;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.pastillaVerdechica{
  width: 10px;
  height: 3rem;
  border-radius: 15px;
  background-color: #78e289;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align:  bottom;
}
.pastillaRojachica{
  width: 10px;
  height: 3rem;
  border-radius: 15px;
  background-color: #fc626a;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align:  bottom;
}
hr{
  height: 50px;
  background-color: red;
  border: none;
 
}
.lineaVerde{
  border-left: solid  rgb(51, 255, 0);
}
.scrollable {
  height: auto;
  overflow: auto;
  position: relative;

}
.btn1 {
  background-color: #4f7de8;
}

.btn2 {
  background-color: #f86c4f;
  font-size: 50px;
  text-align: center;
  width: 500px;
  height: 100px;
  box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, .1);
  border-radius: 15px;
  color: white;
}

.mini {
  font-style: unset;
  color: white;
}
hr{
  height:10vh;
  width:.5vw;
  border-width:0;
  color:#000;
  background-color:#000;
 }

@media(max-width:1325px) {
  button {
    width: auto;
    height: auto;
  }
  .btn2 {
    font-size: 45px;
  }
}