<footer id="footer">
    <div class="footer-top ">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-info">
            <h4> <img width="30%" src="assets/boliot_blanco.png"></h4>
            <p></p>
            <p></p>
         <p align="justify">Es una empresa con la visión de innovar e integrar tecnologías en función de ofrecer productos que entreguen valor a cada uno de nuestros clientes.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Link Sitio</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#Nosotros">Quienes somos</a></li>
              <li><a href="#Servicios">Servicios</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contacto</h4>
            <p align="justify">
            	<strong>Dirección:</strong> Huerfanos #1055 oficina 503, Santiago - Chile.<br>
              <strong>Télefono:</strong> +56 9 93436792<br>
              <strong>Email:</strong> contacto@boliot.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.youtube.com/channel/UC5ESAlDQFWIz8cnSuoeel1Q?view_as=subscriber" target=_blank class="google-plus"><i class="fa fa-youtube"></i></a>
              <a href="https://www.linkedin.com/company/boliot/" target=_blank class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Nuestras Politicas</h4>
            <button type="button" class="btn btn-primary" (click)="showDialog()"  >Ver Politicas
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Boliot 2022</strong>. Derechos Reservados
      </div>
      <div class="credits">
        
        Diseñado by <a href="https://boliot.com/">Boliot Web</a>
      </div>
    </div>
  </footer><!-- #footer -->
 

  <p-dialog header="Politicas de Botpadel"[(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw', height: '70%'}">
    <iframe src="../../../../assets/Politica_de_Privacidad_Botpadel.pdf" height="100%" width="100%"></iframe>
</p-dialog>
