body{
    height: 100vh;
    background-color: black;
    font-size: 13,5px;

}
.ng-sidebar{
    background: #002b58;
    width: 11rem;    
}
.footer{
    color: #fff;
    background: #222222;
}

.informes span{
    font-size: 50px;
    color: black;
}
.informes p{
    font-size: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
