html, body {
  background-color: var( --surface-d )!important;
  font-weight     : bold!important;
  color           : #3b3636!important;
  font-family     : var( --font-family )!important;
  max-width: 100% !important;
  overflow-x: hidden !important;
}
