<div id="app">
    <div id="sidebar" class="active border-right">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a routerLink="/dashboard"><img src="../../../assets/Bot_grafica2.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item">
                        <a routerLink="/dashboard" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a routerLink="/horario" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Horarios</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a routerLink="/especialistas" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Especialistas</span>
                        </a>
                    </li>

                    <li class="sidebar-item  active  ">
                        <a routerLink="/box" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Box</span>
                        </a>
                    </li>


                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <app-header></app-header>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>


        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-9">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>GESTION DE BOX</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-profile-visit">
                                        <!--Tabla Crud-->
                                        <div class="container">
                                            <div class="row">
                                                <ul>
                                                    <li *ngFor="let dato of datos | ObjToArray">
                                                        {{dato.token}}
                                                    </li>
                                                </ul>

                                                <pre>
                                                    {{datos | json}}
                                                </pre>


                                                

                                                <!--Formulario Agregar-->
                                                <div class="col-lg-6">
                                                    <form class="row g-3 mb-3 ">
                                                        <div class="col-12">
                                                            <label for="inputEmail4" class="form-label">Numero De
                                                                BOX</label>
                                                            <input type="text" class="form-control" id="nombre">
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="inputEmail4" class="form-label">Codigo De
                                                                BOX</label>
                                                            <input type="text" class="form-control" id="nombre">
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit"
                                                                class="btn btn-danger text-uppercase">Agregar
                                                                Especialista</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body py-4 px-5">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-xl">
                                    <img src="assets/images/faces/1.jpg" alt="Face 1">
                                </div>
                                <div class="ms-3 name">
                                    <h5 class="font-bold">John Duck</h5>
                                    <h6 class="text-muted mb-0">@johnducky</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div *ngFor="let dato of datos | ObjToArray">
            <form action="{{dato.url}}" method="post">
                {{dato.url}}
                <input type="text" name="token_ws" value="{{dato.token}}">       
                <button type="submit">Pagar</button>
            </form>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Boliot</p>
                </div>

            </div>
        </footer>
    </div>
    
</div>

<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/mazer.js"></script>