<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class="text-light font-weight-bold" routerLink="/home">Botmila</h4>
        </div>
        <div class="menu">
            <a routerLink="/dashboard" class="d-block  text-light p-3"><i
                    class="icon ion-md-apps mr-2 lead"></i>Dashboard</a>
            <a routerLink="/horario" class="d-block  text-light p-3"><i
                    class="icon ion-md-calendar mr-2 lead"></i>Horarios</a>
            <a routerLink="/especialistas" class="d-block text-light p-3"><i
                    class="icon ion-md-people mr-2 lead"></i>Especialistas</a>
            <a routerLink="/box" class="d-block  text-light p-3"><i class="icon ion-md-cube mr-2 lead"></i>Box</a>
        </div>
    </div>
    <div class="w-100">
        <app-header></app-header>

        <div id="content">
            <section class="py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <h1 class="font-weight-bold mb-0">Especialistas</h1>
                            <p class="lead text-muted">Gestion de Especialistas</p>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-6 stat my-3">
                                <h1>Especialistas</h1>
                            </div>
                            <div class="col-lg-6 stat my-3">
                                <h1>Agregar Especialista</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Tabla y formulario-->
            <section>
                <!--Tabla Crud-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-bordered border-primary mt-2">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Ocupacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of usuarios">
                                        
                                        <td>{{ usuario.nameUser }}</td>
                                        <td>{{ usuario.ocupation }}</td>
                                        
                                        <div class="btn-group mr-0" role="group"
                                        aria-label="Basic mixed styles example">
                                        <button type="button" class="btn btn-danger">Eliminar</button>
                                        <button type="button" class="btn btn-warning">Editar</button>
                                        <button type="button" class="btn btn-success">Ver</button>
                                    </div>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Formulario Agregar-->
                        <div class="col-lg-6">
                            <form #usuarioFrom="ngForm" (ngSubmit)="addUsuario(usuarioFrom)" class="row g-3 mb-3 ">
                                <div class="col-12">
                                    <label for="inputEmail4" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="login" name="nameUser" [(ngModel)]="selectedUsuario.nameUser">
                                </div>

                                <div class="col-12">
                                    <label for="inputOcupacion" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="login" name="password" [(ngModel)]="selectedUsuario.password">
                                </div>
                                <div class="col-12">
                                    <label for="inputOcupacion" class="form-label">Organizacion</label>
                                    <input type="text" class="form-control" id="login" name="organization" [(ngModel)]="selectedUsuario.organization">
                                </div>
                                <div class="col-12">
                                    <label for="inputOcupacion" class="form-label">Ocupacion</label>
                                    <input type="text" class="form-control" id="login" name="ocupation" [(ngModel)]="selectedUsuario.ocupation">
                                </div>
                                <div class="col-12">
                                    <label for="inputOcupacion" class="form-label">rol</label>
                                    <input type="text" class="form-control" id="login" name="roles" [(ngModel)]="selectedUsuario.roles">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger text-uppercase" value="Guardar">Agregar
                                        Especialista</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </section>

        </div>
    </div>
</div>