<body>
  <div class="registration-form">
    <form (ngSubmit)="submit()" [formGroup]="reactiveForm">
      <div class="form-icon">
        <img class="img-fluid rounded-start" loading="lazy" src="assets/asistente.png" />
      </div>
      <div class="a">
        <h4>Registro nuevo Jugador</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" id="nameUser" formControlName="nameUser"
          placeholder="Nombre y apellido">
        <div *ngIf="reactiveForm.get('nameUser')?.touched && reactiveForm.get('nameUser')?.errors?.['required']"
          class="alert alert-danger">Este campo es requerido
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control item" formControlName="email" id="email" placeholder="Email">
        <div *ngIf="reactiveForm.get('email')?.touched && reactiveForm.get('email')?.errors?.['required']"
          class="alert alert-danger">Este campo es requerido
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" formControlName="rut" id="rut"
          placeholder="Rut sin puntos y con guion: 5555555-5" onKeypress="if (event.keyCode==46) event.returnValue = false;">
        <div *ngIf="reactiveForm.get('rut')?.touched && reactiveForm.get('rut')?.errors?.['required']" class="alert alert-danger">
          Este campo es requerido
        </div>
        <div *ngIf="reactiveForm.get('rut')?.touched && reactiveForm.get('rut')?.errors?.['pattern']"
                        class="alert alert-danger">Rut sin puntos y con guion
                    </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" id="phone-number" formControlName="telefono"
          placeholder="Numero de Contacto">
        <div *ngIf="reactiveForm.get('telefono')?.touched && reactiveForm.get('telefono')?.errors?.['required']"
          class="alert alert-danger">Este campo es requerido
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control item" formControlName="password" placeholder="Contraseña">
        <div *ngIf="reactiveForm.get('password')?.touched && reactiveForm.get('password')?.errors?.['required']"
          class="alert alert-danger">Este campo es requerido
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control item" formControlName="confirmPassword"
          placeholder="Repita La Contraseña">
        <div *ngIf="getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched"
          class="alert alert-danger">
          <small *ngIf="getControl('confirmPassword')?.errors?.['required']">Confirmar contraseña es
            requerido</small>
          <small *ngIf="getControl('confirmPassword')?.errors?.['mustMatch']">Las contraseñas deben
            ser iguales</small>
        </div>
      </div>
      <input type="hidden" formControlName="organization">
      <div class="form-group">
        <button type="submit" class="btn btn-block create-account" [disabled]="reactiveForm.invalid">Crear Cuenta</button>
      </div>
    </form>
    <div class="social-media">
      <h5>Ya tienes cuenta?</h5>
      <button type="submit" class="btn btn-block create-account" (click)="goLogin()">Iniciar Sesion</button>
    </div>
  </div>
</body>