.burbuja {

    background-color: white;
    margin-bottom: 20px;
    box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, .1);
    border-radius: 15px;
  }
  .scrollable {
    height: auto;
    overflow: auto;
    position: relative;
  
  }